In [1]:
import pandas as pd

In [5]:
# 데이터 불러오기 및  일부 확인
data = pd.read_csv('train.csv', encoding = 'utf8')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [6]:
# 데이터 불러오기 및  일부 확인
real = pd.read_csv('test.csv', encoding = 'utf8')
real.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [90]:
real[real['VIP'] == True]['HomePlanet'].value_counts()

Europa    46
Mars      27
Name: HomePlanet, dtype: int64

In [8]:
# 데이터 개수 확인
data.shape, real.shape

((8693, 14), (4277, 13))

In [221]:
# 원본데이터 보존을 위해서 선언
train_data = data.copy()

In [222]:
train_data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [223]:
for i in train_data.columns:
    print(i)
    print('---'*10)
    print(train_data[i].value_counts())

PassengerId
------------------------------
0001_01    1
6136_01    1
6141_01    1
6139_06    1
6139_05    1
          ..
3126_01    1
3124_03    1
3124_02    1
3124_01    1
9280_02    1
Name: PassengerId, Length: 8693, dtype: int64
HomePlanet
------------------------------
Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64
CryoSleep
------------------------------
False    5439
True     3037
Name: CryoSleep, dtype: int64
Cabin
------------------------------
G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64
Destination
------------------------------
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64
Age
------------------------------
24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: Age, Length: 80, dtype: int64
VIP
------------------------------
False    8291
True      199
Name: VIP, dtype: int64
RoomService
------------------------------
0.0       5577
1.0        117
2.0         79
3.0         61
4.0         47
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: RoomService, Length: 1273, dtype: int64
FoodCourt
------------------------------
0.0       5456
1.0        116
2.0         75
3.0         53
4.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: FoodCourt, Length: 1507, dtype: int64
ShoppingMall
------------------------------
0.0       5587
1.0        153
2.0         80
3.0         59
4.0         45
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: ShoppingMall, Length: 1115, dtype: int64
Spa
------------------------------
0.0       5324
1.0        146
2.0        105
5.0         53
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: Spa, Length: 1327, dtype: int64
VRDeck
------------------------------
0.0       5495
1.0        139
2.0         70
3.0         56
5.0         51
          ...
408.0        1
876.0        1
2891.0       1
2102.0       1
3235.0       1
Name: VRDeck, Length: 1306, dtype: int64
Name
------------------------------
Gollux Reedall        2
Elaney Webstephrey    2
Grake Porki           2
Sus Coolez            2
Apix Wala             2
                     ..
Jamela Griffy         1
Hardy Griffy          1
Salley Mckinn         1
Mall Frasp            1
Propsh Hontichre      1
Name: Name, Length: 8473, dtype: int64
Transported
------------------------------
True     4378
False    4315
Name: Transported, dtype: int64

In [149]:
# 학습 때 필요없는 데이터 제거
train_data = train_data.drop(['Name'], axis = 1)

In [150]:
# 확인
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [151]:
# 결측치 확인
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [153]:
train_data[train_data['HomePlanet'].isnull()].isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep         2
Cabin             6
Destination       4
Age               2
VIP               3
RoomService       6
FoodCourt         2
ShoppingMall      7
Spa               3
VRDeck            1
Transported       0
dtype: int64

In [154]:
train_data.groupby('HomePlanet').median()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
HomePlanet,,,,,,,
Earth,23.0,0.0,0.0,0.0,0.0,0.0,0.0
Europa,33.0,0.0,13.0,0.0,0.0,0.0,1.0
Mars,28.0,25.0,0.0,0.0,0.0,0.0,1.0

In [155]:
train_data.groupby(['VIP', 'Age']).mean()

            RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
VIP   Age
False 0.0           0.0        0.0           0.0     0.0     0.0     0.802326
      1.0           0.0        0.0           0.0     0.0     0.0     0.731343
      2.0           0.0        0.0           0.0     0.0     0.0     0.716216
      3.0           0.0        0.0           0.0     0.0     0.0     0.802817
      4.0           0.0        0.0           0.0     0.0     0.0     0.757143
...                 ...        ...           ...     ...     ...          ...
True  66.0          0.0     1828.0           1.0  1873.0    45.0     0.000000
      68.0        523.0        0.0         859.0   201.0   782.0     0.000000
      69.0          0.0      269.0           0.0   190.0  9033.0     0.000000
      71.0        450.5        0.0         849.0     0.0     0.0     0.500000
      73.0          0.0        0.0           0.0     NaN     0.0     1.000000

[126 rows x 6 columns]

In [156]:
train_data['Age'].value_counts()

24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: Age, Length: 80, dtype: int64

In [157]:
train_data.groupby(['VIP']).mean()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
VIP,,,,,,,
False,28.639611,217.218527,426.336536,173.876298,301.711045,282.718056,0.506332
True,37.449495,473.615385,1811.393782,247.726804,760.710660,1234.856410,0.381910

In [158]:
train_data.groupby(['VIP']).median()

        Age  RoomService  FoodCourt  ShoppingMall   Spa  VRDeck  Transported
VIP
False  27.0          0.0        0.0           0.0   0.0     0.0          1.0
True   34.0          0.0      287.0           0.0  39.0    30.0          0.0

In [159]:
train_data[train_data['VIP'] == True]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
108,0112_01,Europa,False,B/1/S,55 Cancri e,48.0,True,0.0,2537.0,87.0,17.0,13.0,True
120,0128_01,Mars,False,D/3/S,TRAPPIST-1e,61.0,True,2353.0,334.0,9.0,316.0,2.0,False
214,0224_01,Mars,False,F/42/S,TRAPPIST-1e,32.0,True,181.0,0.0,5.0,1634.0,0.0,False
291,0321_01,NaN,False,F/61/S,TRAPPIST-1e,59.0,True,1018.0,0.0,209.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8579,9158_01,Europa,True,B/298/P,55 Cancri e,30.0,True,0.0,0.0,0.0,0.0,0.0,True
8614,9194_02,Europa,False,E/603/S,TRAPPIST-1e,32.0,True,1003.0,909.0,0.0,0.0,15.0,False
8621,9197_02,Europa,False,C/308/P,NaN,41.0,True,0.0,7964.0,0.0,3238.0,5839.0,False
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,True
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False

In [160]:
for i in train_data.columns:
    print(i)
    print('---'*10)
    print(train_data[train_data['VIP'] == True][i].value_counts())

PassengerId
------------------------------
0003_01    1
6205_01    1
6304_01    1
6367_01    1
6372_02    1
          ..
3444_03    1
3497_01    1
3527_01    1
3719_01    1
9276_01    1
Name: PassengerId, Length: 199, dtype: int64
HomePlanet
------------------------------
Europa    131
Mars       63
Name: HomePlanet, dtype: int64
CryoSleep
------------------------------
False    175
True      21
Name: CryoSleep, dtype: int64
Cabin
------------------------------
F/1550/P    2
A/103/S     2
A/75/P      2
D/189/S     1
F/1287/P    1
           ..
C/111/P     1
A/30/P      1
B/131/S     1
D/113/P     1
A/98/P      1
Name: Cabin, Length: 190, dtype: int64
Destination
------------------------------
TRAPPIST-1e      114
55 Cancri e       65
PSO J318.5-22     18
Name: Destination, dtype: int64
Age
------------------------------
27.0    15
32.0    14
26.0    12
29.0    12
36.0    10
25.0     9
34.0     9
28.0     8
33.0     8
31.0     8
41.0     7
30.0     7
54.0     7
38.0     6
35.0     5
50.0     4
45.0     4
48.0     3
52.0     3
44.0     3
58.0     3
40.0     3
47.0     3
43.0     3
39.0     3
37.0     3
62.0     2
51.0     2
57.0     2
56.0     2
71.0     2
60.0     2
59.0     1
69.0     1
23.0     1
68.0     1
61.0     1
19.0     1
46.0     1
49.0     1
55.0     1
20.0     1
18.0     1
73.0     1
53.0     1
66.0     1
Name: Age, dtype: int64
VIP
------------------------------
True    199
Name: VIP, dtype: int64
RoomService
------------------------------
0.0       99
1.0        5
3.0        3
2.0        3
530.0      2
          ..
773.0      1
1409.0     1
1250.0     1
975.0      1
1003.0     1
Name: RoomService, Length: 86, dtype: int64
FoodCourt
------------------------------
0.0       67
4.0        2
280.0      2
22.0       2
3576.0     1
          ..
2062.0     1
186.0      1
11.0       1
79.0       1
6819.0     1
Name: FoodCourt, Length: 124, dtype: int64
ShoppingMall
------------------------------
0.0      108
1.0        5
3.0        4
991.0      2
208.0      2
        ...
183.0      1
14.0       1
257.0      1
87.0       1
715.0      1
Name: ShoppingMall, Length: 76, dtype: int64
Spa
------------------------------
0.0       76
1.0        5
201.0      2
207.0      2
136.0      2
          ..
548.0      1
2205.0     1
210.0      1
58.0       1
1643.0     1
Name: Spa, Length: 111, dtype: int64
VRDeck
------------------------------
0.0       77
2.0        4
1.0        2
23.0       2
13.0       2
          ..
31.0       1
4359.0     1
1618.0     1
5058.0     1
74.0       1
Name: VRDeck, Length: 111, dtype: int64
Transported
------------------------------
False    123
True      76
Name: Transported, dtype: int64

In [161]:
for i in train_data.columns:
    print(i)
    print('---'*10)
    print(train_data[train_data['VIP'] == False][i].value_counts())

PassengerId
------------------------------
0001_01    1
6096_03    1
6132_01    1
6128_02    1
6128_01    1
          ..
3131_01    1
3130_01    1
3128_01    1
3126_02    1
9280_02    1
Name: PassengerId, Length: 8291, dtype: int64
HomePlanet
------------------------------
Earth     4487
Europa    1958
Mars      1653
Name: HomePlanet, dtype: int64
CryoSleep
------------------------------
False    5143
True     2941
Name: CryoSleep, dtype: int64
Cabin
------------------------------
G/734/S    8
G/981/S    7
D/176/S    7
C/137/S    7
C/21/P     7
          ..
G/558/P    1
F/701/P    1
G/547/S    1
G/557/P    1
F/947/P    1
Name: Cabin, Length: 6326, dtype: int64
Destination
------------------------------
TRAPPIST-1e      5667
55 Cancri e      1692
PSO J318.5-22     756
Name: Destination, dtype: int64
Age
------------------------------
24.0    318
18.0    313
21.0    302
19.0    286
22.0    286
       ...
72.0      4
79.0      3
78.0      3
76.0      2
77.0      2
Name: Age, Length: 80, dtype: int64
VIP
------------------------------
False    8291
Name: VIP, dtype: int64
RoomService
------------------------------
0.0       5351
1.0        110
2.0         74
3.0         57
4.0         47
          ...
308.0        1
350.0        1
1196.0       1
1272.0       1
745.0        1
Name: RoomService, Length: 1221, dtype: int64
FoodCourt
------------------------------
0.0       5264
1.0        112
2.0         73
3.0         53
4.0         49
          ...
373.0        1
813.0        1
325.0        1
733.0        1
4688.0       1
Name: FoodCourt, Length: 1411, dtype: int64
ShoppingMall
------------------------------
0.0       5343
1.0        143
2.0         78
3.0         54
4.0         41
          ...
1519.0       1
705.0        1
1264.0       1
181.0        1
1872.0       1
Name: ShoppingMall, Length: 1087, dtype: int64
Spa
------------------------------
0.0       5121
1.0        138
2.0         99
3.0         50
5.0         49
          ...
6616.0       1
909.0        1
159.0        1
944.0        1
1107.0       1
Name: Spa, Length: 1266, dtype: int64
VRDeck
------------------------------
0.0       5279
1.0        135
2.0         65
3.0         55
5.0         49
          ...
2891.0       1
3874.0       1
180.0        1
8735.0       1
3235.0       1
Name: VRDeck, Length: 1229, dtype: int64
Transported
------------------------------
True     4198
False    4093
Name: Transported, dtype: int64

In [163]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 823.6+ KB

In [164]:
train_data[train_data['HomePlanet'] == 'Mars']['VIP'].isnull().sum()

43

In [166]:
# 오류 발생 일반 값을 넣어줘야하는데 series을 넣어주면 안된다.
import numpy as np
train_data['VIP'] = np.where(train_data['HomePlanet'] == 'Earth', False, 
                    np.where(train_data['HomePlanet'] == 'Europa', train_data[train_data['HomePlanet'] == 'Europa']['VIP'],
                    train_data[train_data['HomePlanet'] == 'Mars']['VIP']))

ValueError: operands could not be broadcast together with shapes (8693,) (2131,) (1759,)

In [167]:
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [224]:
train_data[train_data['HomePlanet'] == 'Earth'].isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep       114
Cabin            95
Destination      99
Age              88
VIP             115
RoomService     103
FoodCourt        97
ShoppingMall    112
Spa              99
VRDeck          111
Name            106
Transported       0
dtype: int64

In [225]:
train_data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [226]:
#위의 데이터들 채우기
train_data[['RoomService','FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']] = train_data[['RoomService','FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(0)

In [218]:
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
Total_bill        0
ID                0
dtype: int64

In [227]:
# 요금 사용하는 것을 하나로 묶기
train_data['Total_bill'] = train_data['RoomService'] + train_data['FoodCourt'] + train_data['ShoppingMall'] + train_data['Spa'] + train_data['VRDeck']

In [228]:
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
Total_bill        0
dtype: int64

In [236]:
train_data.groupby(['VIP'])['Total_bill'].mean()

VIP
False     645.124426
True     7134.227955
Name: Total_bill, dtype: float64

In [231]:
train_data.groupby(['VIP'])['Total_bill'].mean().mean()

2898.491015262054

In [232]:
train_data.groupby('VIP', as_index=False)['Total_bill'].transform('mean')

       Total_bill
0     1371.504644
1     1371.504644
2     4425.477387
3     1371.504644
4     1371.504644
...           ...
8688  4425.477387
8689  1371.504644
8690  1371.504644
8691  1371.504644
8692  1371.504644

[8490 rows x 1 columns]

In [192]:
train_data[train_data['HomePlanet'] == 'Earth']['VIP'] = False

C:\Users\user\AppData\Local\Temp\ipykernel_3468\1653511168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data[train_data['HomePlanet'] == 'Earth']['VIP'] = False

In [233]:
train_data['VIP'] = np.where(train_data['HomePlanet'] == 'Earth', False, 
                    np.where(train_data['Total_bill'] > train_data.groupby(['VIP'])['Total_bill'].mean().mean(), True,
                             False))

In [234]:
train_data[train_data['VIP'] == True]['HomePlanet'].value_counts()

Europa    931
Mars      117
Name: HomePlanet, dtype: int64

In [235]:
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
Total_bill        0
dtype: int64

### PassengerId

In [237]:
train_data['PassengerId']

0       0001_01
1       0002_01
2       0003_01
3       0003_02
4       0004_01
         ...
8688    9276_01
8689    9278_01
8690    9279_01
8691    9280_01
8692    9280_02
Name: PassengerId, Length: 8693, dtype: object

In [238]:
# 앞의 문자열만 뽑기
train_data['ID'] = train_data['PassengerId'].str.extract('([0-9]+)_')
train_data['ID']

0       0001
1       0002
2       0003
3       0003
4       0004
        ...
8688    9276
8689    9278
8690    9279
8691    9280
8692    9280
Name: ID, Length: 8693, dtype: object

In [206]:
train_data.groupby('ID')['HomePlanet'].value_counts()

ID    HomePlanet
0001  Europa        1
0002  Earth         1
0003  Europa        2
0004  Earth         1
0005  Earth         1
                   ..
9275  Europa        3
9276  Europa        1
9278  Earth         1
9279  Earth         1
9280  Europa        2
Name: HomePlanet, Length: 6107, dtype: int64

In [211]:
train_data[train_data['HomePlanet'].isnull()][['PassengerId', 'ID']]

     PassengerId    ID
59       0064_02  0064
113      0119_01  0119
186      0210_01  0210
225      0242_01  0242
234      0251_01  0251
...          ...   ...
8515     9084_01  9084
8613     9194_01  9194
8666     9248_01  9248
8674     9257_01  9257
8684     9274_01  9274

[201 rows x 2 columns]

# 호진 썜

In [5]:
# 데이터 가져오기
import pandas as pd
import numpy as np
data=pd.read_csv('train.csv')
real=pd.read_csv('test.csv')
submit=pd.read_csv('sample_submission.csv')
train = data.copy()

## HomePanet 결측치 처리

In [6]:
train['Group'] = data['PassengerId'].str[:4]
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280

In [61]:
# size 
home_group=train.groupby(['Group','HomePlanet']).size().reset_index()
home_group

     Group HomePlanet  0
0     0001     Europa  1
1     0002      Earth  1
2     0003     Europa  2
3     0004      Earth  1
4     0005      Earth  1
...    ...        ... ..
6102  9275     Europa  3
6103  9276     Europa  1
6104  9278      Earth  1
6105  9279      Earth  1
6106  9280     Europa  2

[6107 rows x 3 columns]

In [59]:
# 위와 동일한 방법
train.groupby('Group', as_index = False)['HomePlanet'].value_counts()

     Group HomePlanet  count
0     0001     Europa      1
1     0002      Earth      1
2     0003     Europa      2
3     0004      Earth      1
4     0005      Earth      1
...    ...        ...    ...
6102  9275     Europa      3
6103  9276     Europa      1
6104  9278      Earth      1
6105  9279      Earth      1
6106  9280     Europa      2

[6107 rows x 3 columns]

In [62]:
# 뒤를 위한 일부 확인 하나만 뽑아서 가져오기 
home_group.loc[0, 'Group']

'0001'

In [65]:
# 딕셔너리 형태로 key : Group 데이터, value = HomePLanet 데이터 이용
group_home_dict={}
for i in range(6107):
    group_home_dict[home_group.loc[i,'Group']]=home_group.loc[i,'HomePlanet']
# 확인
group_home_dict

{'0001': 'Europa',
 '0002': 'Earth',
 '0003': 'Europa',
 '0004': 'Earth',
 '0005': 'Earth',
 '0006': 'Earth',
 '0007': 'Earth',
 '0008': 'Europa',
 '0009': 'Mars',
 '0010': 'Earth',
 '0011': 'Earth',
 '0012': 'Earth',
 '0014': 'Mars',
 '0015': 'Earth',
 '0016': 'Mars',
 '0017': 'Earth',
 '0020': 'Earth',
 '0022': 'Mars',
 '0024': 'Europa',
 '0025': 'Earth',
 '0026': 'Europa',
 '0028': 'Mars',
 '0030': 'Earth',
 '0031': 'Mars',
 '0034': 'Europa',
 '0035': 'Mars',
 '0036': 'Earth',
 '0038': 'Earth',
 '0039': 'Earth',
 '0041': 'Earth',
 '0043': 'Europa',
 '0044': 'Earth',
 '0045': 'Mars',
 '0050': 'Earth',
 '0051': 'Earth',
 '0052': 'Earth',
 '0053': 'Earth',
 '0056': 'Europa',
 '0058': 'Earth',
 '0061': 'Earth',
 '0062': 'Earth',
 '0064': 'Mars',
 '0066': 'Earth',
 '0067': 'Earth',
 '0068': 'Mars',
 '0069': 'Earth',
 '0070': 'Earth',
 '0071': 'Earth',
 '0072': 'Earth',
 '0073': 'Mars',
 '0074': 'Europa',
 '0076': 'Mars',
 '0077': 'Mars',
 '0078': 'Europa',
 '0081': 'Earth',
 '0082': 'Mars',
 '0084': 'Earth',
 '0085': 'Europa',
 '0086': 'Earth',
 '0088': 'Mars',
 '0090': 'Earth',
 '0091': 'Earth',
 '0092': 'Earth',
 '0097': 'Europa',
 '0098': 'Earth',
 '0099': 'Earth',
 '0101': 'Mars',
 '0102': 'Earth',
 '0103': 'Earth',
 '0105': 'Earth',
 '0107': 'Mars',
 '0108': 'Earth',
 '0110': 'Europa',
 '0111': 'Europa',
 '0112': 'Europa',
 '0113': 'Earth',
 '0114': 'Earth',
 '0115': 'Mars',
 '0116': 'Europa',
 '0119': 'Europa',
 '0120': 'Mars',
 '0122': 'Earth',
 '0123': 'Earth',
 '0126': 'Mars',
 '0127': 'Mars',
 '0128': 'Mars',
 '0129': 'Earth',
 '0133': 'Mars',
 '0134': 'Earth',
 '0136': 'Earth',
 '0138': 'Earth',
 '0139': 'Europa',
 '0140': 'Earth',
 '0141': 'Mars',
 '0144': 'Earth',
 '0146': 'Earth',
 '0147': 'Earth',
 '0148': 'Mars',
 '0149': 'Earth',
 '0151': 'Earth',
 '0152': 'Earth',
 '0160': 'Earth',
 '0163': 'Europa',
 '0164': 'Earth',
 '0165': 'Mars',
 '0167': 'Mars',
 '0169': 'Earth',
 '0170': 'Earth',
 '0171': 'Earth',
 '0172': 'Earth',
 '0173': 'Earth',
 '0174': 'Earth',
 '0177': 'Europa',
 '0178': 'Mars',
 '0179': 'Earth',
 '0181': 'Earth',
 '0182': 'Europa',
 '0183': 'Earth',
 '0186': 'Earth',
 '0188': 'Earth',
 '0189': 'Earth',
 '0190': 'Earth',
 '0192': 'Earth',
 '0193': 'Mars',
 '0195': 'Mars',
 '0196': 'Mars',
 '0197': 'Europa',
 '0198': 'Earth',
 '0199': 'Earth',
 '0200': 'Earth',
 '0201': 'Europa',
 '0202': 'Europa',
 '0203': 'Europa',
 '0205': 'Earth',
 '0206': 'Europa',
 '0207': 'Earth',
 '0211': 'Mars',
 '0212': 'Earth',
 '0213': 'Earth',
 '0216': 'Earth',
 '0217': 'Earth',
 '0219': 'Earth',
 '0220': 'Earth',
 '0221': 'Mars',
 '0222': 'Mars',
 '0223': 'Earth',
 '0224': 'Mars',
 '0225': 'Earth',
 '0229': 'Earth',
 '0231': 'Mars',
 '0232': 'Earth',
 '0233': 'Mars',
 '0234': 'Earth',
 '0237': 'Europa',
 '0239': 'Mars',
 '0240': 'Mars',
 '0241': 'Europa',
 '0243': 'Earth',
 '0244': 'Mars',
 '0245': 'Europa',
 '0246': 'Mars',
 '0248': 'Europa',
 '0250': 'Earth',
 '0252': 'Earth',
 '0253': 'Earth',
 '0254': 'Earth',
 '0255': 'Europa',
 '0257': 'Mars',
 '0258': 'Earth',
 '0260': 'Europa',
 '0261': 'Earth',
 '0263': 'Earth',
 '0265': 'Europa',
 '0267': 'Earth',
 '0269': 'Earth',
 '0270': 'Earth',
 '0275': 'Europa',
 '0277': 'Earth',
 '0278': 'Earth',
 '0281': 'Earth',
 '0282': 'Earth',
 '0283': 'Earth',
 '0285': 'Europa',
 '0286': 'Earth',
 '0287': 'Europa',
 '0288': 'Earth',
 '0289': 'Europa',
 '0290': 'Europa',
 '0291': 'Europa',
 '0294': 'Europa',
 '0297': 'Earth',
 '0298': 'Europa',
 '0301': 'Earth',
 '0302': 'Earth',
 '0304': 'Europa',
 '0305': 'Europa',
 '0306': 'Earth',
 '0307': 'Earth',
 '0309': 'Earth',
 '0310': 'Europa',
 '0313': 'Earth',
 '0314': 'Earth',
 '0316': 'Europa',
 '0320': 'Earth',
 '0322': 'Earth',
 '0324': 'Earth',
 '0326': 'Earth',
 '0327': 'Earth',
 '0330': 'Europa',
 '0331': 'Earth',
 '0333': 'Mars',
 '0334': 'Mars',
 '0336': 'Earth',
 '0337': 'Mars',
 '0338': 'Earth',
 '0340': 'Europa',
 '0341': 'Earth',
 '0343': 'Earth',
 '0345': 'Mars',
 '0346': 'Earth',
 '0347': 'Mars',
 '0348': 'Mars',
 '0350': 'Earth',
 '0352': 'Mars',
 '0355': 'Earth',
 '0356': 'Europa',
 '0357': 'Earth',
 '0358': 'Earth',
 '0359': 'Earth',
 '0360': 'Earth',
 '0361': 'Earth',
 '0365': 'Earth',
 '0368': 'Mars',
 '0369': 'Earth',
 '0370': 'Earth',
 '0371': 'Mars',
 '0372': 'Earth',
 '0373': 'Earth',
 '0375': 'Earth',
 '0376': 'Earth',
 '0377': 'Europa',
 '0378': 'Europa',
 '0379': 'Earth',
 '0380': 'Europa',
 '0381': 'Europa',
 '0383': 'Earth',
 '0384': 'Earth',
 '0385': 'Earth',
 '0387': 'Earth',
 '0388': 'Earth',
 '0389': 'Earth',
 '0391': 'Europa',
 '0392': 'Earth',
 '0395': 'Europa',
 '0396': 'Earth',
 '0397': 'Mars',
 '0398': 'Mars',
 '0401': 'Mars',
 '0403': 'Mars',
 '0405': 'Earth',
 '0407': 'Earth',
 '0408': 'Mars',
 '0409': 'Mars',
 '0410': 'Earth',
 '0411': 'Earth',
 '0412': 'Europa',
 '0413': 'Earth',
 '0415': 'Earth',
 '0417': 'Europa',
 '0423': 'Europa',
 '0425': 'Mars',
 '0427': 'Europa',
 '0428': 'Europa',
 '0429': 'Europa',
 '0430': 'Earth',
 '0431': 'Mars',
 '0432': 'Mars',
 '0433': 'Europa',
 '0434': 'Mars',
 '0435': 'Earth',
 '0436': 'Earth',
 '0437': 'Earth',
 '0438': 'Europa',
 '0439': 'Europa',
 '0441': 'Earth',
 '0442': 'Earth',
 '0444': 'Mars',
 '0445': 'Earth',
 '0446': 'Europa',
 '0447': 'Earth',
 '0448': 'Earth',
 '0449': 'Earth',
 '0452': 'Mars',
 '0453': 'Europa',
 '0454': 'Europa',
 '0456': 'Earth',
 '0457': 'Earth',
 '0458': 'Europa',
 '0459': 'Earth',
 '0460': 'Earth',
 '0461': 'Earth',
 '0462': 'Earth',
 '0463': 'Mars',
 '0465': 'Earth',
 '0466': 'Earth',
 '0468': 'Earth',
 '0470': 'Mars',
 '0471': 'Europa',
 '0472': 'Earth',
 '0474': 'Earth',
 '0475': 'Earth',
 '0476': 'Mars',
 '0477': 'Earth',
 '0480': 'Earth',
 '0481': 'Earth',
 '0482': 'Earth',
 '0485': 'Europa',
 '0487': 'Europa',
 '0488': 'Earth',
 '0490': 'Earth',
 '0498': 'Europa',
 '0499': 'Mars',
 '0500': 'Mars',
 '0501': 'Europa',
 '0502': 'Mars',
 '0503': 'Mars',
 '0504': 'Europa',
 '0506': 'Mars',
 '0507': 'Earth',
 '0510': 'Europa',
 '0512': 'Europa',
 '0513': 'Earth',
 '0515': 'Europa',
 '0516': 'Europa',
 '0517': 'Earth',
 '0519': 'Earth',
 '0520': 'Earth',
 '0521': 'Earth',
 '0522': 'Earth',
 '0523': 'Earth',
 '0525': 'Earth',
 '0527': 'Mars',
 '0528': 'Europa',
 '0529': 'Earth',
 '0531': 'Earth',
 '0533': 'Mars',
 '0534': 'Europa',
 '0537': 'Earth',
 '0538': 'Earth',
 '0539': 'Europa',
 '0540': 'Mars',
 '0542': 'Earth',
 '0545': 'Earth',
 '0546': 'Earth',
 '0547': 'Earth',
 '0548': 'Earth',
 '0549': 'Mars',
 '0550': 'Earth',
 '0551': 'Earth',
 '0552': 'Europa',
 '0553': 'Europa',
 '0555': 'Europa',
 '0556': 'Earth',
 '0559': 'Earth',
 '0560': 'Earth',
 '0561': 'Earth',
 '0563': 'Mars',
 '0564': 'Europa',
 '0565': 'Mars',
 '0566': 'Mars',
 '0567': 'Earth',
 '0568': 'Europa',
 '0569': 'Earth',
 '0570': 'Europa',
 '0571': 'Europa',
 '0572': 'Earth',
 '0573': 'Earth',
 '0575': 'Europa',
 '0576': 'Earth',
 '0577': 'Earth',
 '0579': 'Earth',
 '0580': 'Earth',
 '0581': 'Earth',
 '0582': 'Mars',
 '0583': 'Mars',
 '0585': 'Mars',
 '0586': 'Europa',
 '0587': 'Mars',
 '0588': 'Earth',
 '0589': 'Earth',
 '0590': 'Earth',
 '0591': 'Earth',
 '0593': 'Mars',
 '0594': 'Earth',
 '0596': 'Mars',
 '0597': 'Earth',
 '0598': 'Earth',
 '0599': 'Mars',
 '0600': 'Europa',
 '0602': 'Mars',
 '0603': 'Earth',
 '0607': 'Europa',
 '0608': 'Earth',
 '0609': 'Mars',
 '0610': 'Earth',
 '0611': 'Earth',
 '0612': 'Europa',
 '0614': 'Earth',
 '0615': 'Earth',
 '0618': 'Earth',
 '0619': 'Europa',
 '0623': 'Earth',
 '0628': 'Earth',
 '0629': 'Earth',
 '0630': 'Mars',
 '0631': 'Mars',
 '0633': 'Mars',
 '0634': 'Earth',
 '0635': 'Earth',
 '0636': 'Earth',
 '0637': 'Mars',
 '0638': 'Europa',
 '0639': 'Earth',
 '0641': 'Earth',
 '0642': 'Europa',
 '0643': 'Mars',
 '0644': 'Europa',
 '0645': 'Earth',
 '0646': 'Europa',
 '0647': 'Mars',
 '0650': 'Earth',
 '0653': 'Mars',
 '0655': 'Mars',
 '0656': 'Earth',
 '0657': 'Earth',
 '0658': 'Earth',
 '0659': 'Earth',
 '0660': 'Earth',
 '0661': 'Europa',
 '0663': 'Earth',
 '0664': 'Europa',
 '0665': 'Mars',
 '0668': 'Earth',
 '0669': 'Earth',
 '0671': 'Earth',
 '0672': 'Earth',
 '0674': 'Earth',
 '0677': 'Earth',
 '0678': 'Earth',
 '0679': 'Earth',
 '0680': 'Earth',
 '0682': 'Mars',
 '0683': 'Mars',
 '0684': 'Mars',
 '0685': 'Earth',
 '0686': 'Mars',
 '0687': 'Mars',
 '0688': 'Mars',
 '0689': 'Europa',
 '0690': 'Mars',
 '0691': 'Mars',
 '0693': 'Europa',
 '0696': 'Earth',
 '0697': 'Earth',
 '0699': 'Mars',
 '0701': 'Europa',
 '0702': 'Earth',
 '0703': 'Earth',
 '0704': 'Earth',
 '0705': 'Earth',
 '0707': 'Earth',
 '0709': 'Europa',
 '0710': 'Mars',
 '0712': 'Mars',
 '0713': 'Earth',
 '0714': 'Earth',
 '0715': 'Europa',
 '0718': 'Earth',
 '0719': 'Mars',
 '0724': 'Earth',
 '0726': 'Earth',
 '0727': 'Earth',
 '0728': 'Earth',
 '0729': 'Earth',
 '0732': 'Earth',
 '0733': 'Earth',
 '0734': 'Earth',
 '0736': 'Earth',
 '0737': 'Europa',
 '0738': 'Mars',
 '0740': 'Europa',
 '0743': 'Earth',
 '0746': 'Earth',
 '0750': 'Earth',
 '0753': 'Europa',
 '0754': 'Europa',
 '0756': 'Europa',
 '0757': 'Mars',
 '0761': 'Europa',
 '0762': 'Earth',
 '0764': 'Earth',
 '0765': 'Mars',
 '0767': 'Earth',
 '0768': 'Europa',
 '0769': 'Europa',
 '0770': 'Earth',
 '0771': 'Earth',
 '0772': 'Europa',
 '0773': 'Earth',
 '0776': 'Earth',
 '0777': 'Europa',
 '0779': 'Earth',
 '0781': 'Earth',
 '0782': 'Mars',
 '0784': 'Europa',
 '0785': 'Earth',
 '0786': 'Earth',
 '0787': 'Earth',
 '0788': 'Earth',
 '0789': 'Europa',
 '0790': 'Earth',
 '0791': 'Earth',
 '0793': 'Earth',
 '0794': 'Mars',
 '0795': 'Earth',
 '0796': 'Europa',
 '0797': 'Earth',
 '0798': 'Mars',
 '0799': 'Europa',
 '0802': 'Mars',
 '0805': 'Europa',
 '0806': 'Earth',
 '0808': 'Earth',
 '0809': 'Mars',
 '0811': 'Mars',
 '0813': 'Mars',
 '0815': 'Earth',
 '0816': 'Europa',
 '0817': 'Earth',
 '0818': 'Europa',
 '0819': 'Earth',
 '0820': 'Earth',
 '0822': 'Earth',
 '0823': 'Earth',
 '0824': 'Mars',
 '0825': 'Earth',
 '0826': 'Earth',
 '0828': 'Earth',
 '0829': 'Earth',
 '0830': 'Earth',
 '0833': 'Europa',
 '0834': 'Earth',
 '0835': 'Earth',
 '0836': 'Mars',
 '0839': 'Europa',
 '0840': 'Earth',
 '0845': 'Europa',
 '0846': 'Earth',
 '0848': 'Mars',
 '0849': 'Europa',
 '0850': 'Mars',
 '0851': 'Earth',
 '0859': 'Earth',
 '0860': 'Earth',
 '0863': 'Earth',
 '0865': 'Europa',
 '0867': 'Earth',
 '0868': 'Earth',
 '0869': 'Earth',
 '0870': 'Earth',
 '0871': 'Europa',
 '0873': 'Earth',
 '0874': 'Earth',
 '0875': 'Earth',
 '0876': 'Earth',
 '0877': 'Europa',
 '0878': 'Mars',
 '0879': 'Earth',
 '0881': 'Europa',
 '0883': 'Earth',
 '0885': 'Earth',
 '0889': 'Europa',
 '0890': 'Mars',
 '0893': 'Earth',
 '0898': 'Earth',
 '0899': 'Earth',
 '0901': 'Mars',
 '0902': 'Earth',
 '0903': 'Earth',
 '0904': 'Europa',
 '0905': 'Mars',
 '0906': 'Earth',
 '0907': 'Europa',
 '0910': 'Earth',
 '0911': 'Mars',
 '0912': 'Europa',
 '0913': 'Europa',
 '0915': 'Earth',
 '0918': 'Earth',
 '0919': 'Earth',
 '0921': 'Earth',
 '0922': 'Europa',
 '0923': 'Europa',
 '0924': 'Earth',
 '0925': 'Mars',
 '0926': 'Europa',
 '0927': 'Earth',
 '0928': 'Earth',
 '0930': 'Earth',
 '0931': 'Earth',
 '0932': 'Mars',
 '0933': 'Europa',
 '0935': 'Earth',
 '0938': 'Earth',
 '0939': 'Earth',
 '0940': 'Earth',
 '0941': 'Earth',
 '0942': 'Mars',
 '0944': 'Earth',
 '0946': 'Earth',
 '0947': 'Earth',
 '0949': 'Earth',
 '0951': 'Earth',
 '0952': 'Mars',
 '0953': 'Earth',
 '0955': 'Earth',
 '0956': 'Earth',
 '0957': 'Mars',
 '0960': 'Earth',
 '0961': 'Earth',
 '0964': 'Europa',
 '0965': 'Mars',
 '0966': 'Earth',
 '0968': 'Earth',
 '0969': 'Mars',
 '0970': 'Earth',
 '0971': 'Earth',
 '0972': 'Earth',
 '0975': 'Earth',
 '0976': 'Earth',
 '0978': 'Earth',
 '0979': 'Europa',
 '0982': 'Earth',
 '0983': 'Earth',
 '0984': 'Earth',
 '0985': 'Earth',
 '0987': 'Earth',
 '0988': 'Earth',
 '0989': 'Earth',
 '0990': 'Earth',
 '0991': 'Earth',
 '0992': 'Europa',
 '0993': 'Earth',
 '0994': 'Earth',
 '0995': 'Europa',
 '0997': 'Mars',
 '0998': 'Europa',
 '1000': 'Mars',
 '1001': 'Earth',
 '1002': 'Mars',
 '1004': 'Europa',
 '1005': 'Earth',
 '1006': 'Earth',
 '1008': 'Europa',
 '1011': 'Earth',
 '1012': 'Earth',
 '1013': 'Earth',
 '1014': 'Mars',
 '1015': 'Earth',
 '1017': 'Earth',
 '1018': 'Earth',
 '1019': 'Earth',
 '1020': 'Mars',
 '1022': 'Earth',
 '1024': 'Earth',
 '1025': 'Earth',
 '1026': 'Earth',
 '1027': 'Mars',
 '1029': 'Mars',
 '1030': 'Earth',
 '1031': 'Earth',
 '1032': 'Earth',
 '1033': 'Earth',
 '1034': 'Earth',
 '1035': 'Mars',
 '1036': 'Earth',
 '1038': 'Earth',
 '1040': 'Earth',
 '1041': 'Europa',
 '1043': 'Earth',
 '1045': 'Europa',
 '1046': 'Earth',
 '1047': 'Earth',
 '1048': 'Earth',
 '1049': 'Mars',
 '1051': 'Earth',
 '1052': 'Earth',
 '1053': 'Earth',
 '1054': 'Earth',
 '1056': 'Mars',
 '1057': 'Europa',
 '1058': 'Earth',
 '1060': 'Earth',
 '1062': 'Earth',
 '1063': 'Europa',
 '1065': 'Mars',
 '1066': 'Mars',
 '1068': 'Earth',
 '1075': 'Europa',
 '1076': 'Earth',
 '1077': 'Earth',
 '1078': 'Earth',
 '1079': 'Earth',
 '1080': 'Mars',
 '1082': 'Mars',
 '1083': 'Mars',
 '1084': 'Earth',
 '1085': 'Earth',
 '1086': 'Earth',
 '1088': 'Earth',
 '1089': 'Europa',
 '1091': 'Mars',
 '1093': 'Mars',
 '1094': 'Earth',
 '1095': 'Europa',
 '1096': 'Earth',
 '1097': 'Mars',
 '1099': 'Earth',
 '1100': 'Mars',
 '1102': 'Mars',
 '1105': 'Earth',
 '1108': 'Mars',
 '1110': 'Europa',
 '1112': 'Europa',
 '1113': 'Earth',
 '1114': 'Mars',
 '1115': 'Earth',
 '1116': 'Earth',
 '1117': 'Earth',
 '1121': 'Earth',
 '1123': 'Europa',
 '1127': 'Europa',
 '1129': 'Earth',
 '1130': 'Mars',
 '1132': 'Earth',
 '1133': 'Mars',
 '1134': 'Europa',
 '1136': 'Earth',
 '1140': 'Europa',
 '1141': 'Earth',
 '1142': 'Earth',
 '1144': 'Earth',
 '1146': 'Earth',
 '1147': 'Europa',
 '1148': 'Europa',
 '1149': 'Earth',
 '1150': 'Earth',
 '1152': 'Mars',
 '1153': 'Earth',
 '1154': 'Europa',
 '1155': 'Earth',
 '1156': 'Europa',
 '1161': 'Europa',
 '1162': 'Europa',
 '1163': 'Earth',
 '1165': 'Europa',
 '1166': 'Europa',
 '1167': 'Mars',
 '1168': 'Earth',
 '1169': 'Mars',
 '1170': 'Earth',
 '1173': 'Earth',
 '1174': 'Earth',
 '1175': 'Mars',
 '1177': 'Europa',
 '1178': 'Earth',
 '1179': 'Europa',
 '1180': 'Earth',
 '1182': 'Mars',
 '1185': 'Mars',
 '1186': 'Earth',
 '1187': 'Earth',
 '1188': 'Europa',
 '1190': 'Earth',
 '1191': 'Earth',
 '1192': 'Earth',
 '1193': 'Europa',
 '1195': 'Earth',
 '1197': 'Europa',
 '1198': 'Mars',
 '1199': 'Earth',
 '1203': 'Europa',
 '1206': 'Earth',
 '1208': 'Earth',
 '1210': 'Earth',
 '1211': 'Earth',
 '1212': 'Earth',
 '1213': 'Earth',
 '1214': 'Earth',
 '1215': 'Earth',
 '1216': 'Earth',
 '1218': 'Earth',
 '1220': 'Europa',
 '1221': 'Earth',
 '1222': 'Earth',
 '1223': 'Europa',
 '1225': 'Earth',
 '1228': 'Mars',
 '1229': 'Earth',
 '1230': 'Earth',
 '1231': 'Mars',
 '1232': 'Europa',
 '1233': 'Earth',
 '1234': 'Earth',
 '1235': 'Earth',
 '1236': 'Earth',
 '1238': 'Europa',
 '1239': 'Earth',
 '1240': 'Earth',
 '1242': 'Europa',
 '1243': 'Europa',
 '1246': 'Earth',
 '1248': 'Earth',
 '1250': 'Earth',
 '1254': 'Mars',
 '1255': 'Mars',
 '1256': 'Mars',
 '1258': 'Europa',
 '1259': 'Earth',
 '1260': 'Earth',
 '1261': 'Europa',
 '1263': 'Mars',
 '1264': 'Earth',
 '1267': 'Earth',
 '1269': 'Mars',
 '1271': 'Earth',
 '1273': 'Earth',
 '1274': 'Earth',
 '1278': 'Earth',
 '1279': 'Europa',
 '1280': 'Earth',
 '1281': 'Earth',
 '1282': 'Earth',
 '1283': 'Earth',
 '1284': 'Mars',
 '1285': 'Earth',
 '1286': 'Mars',
 '1287': 'Mars',
 '1288': 'Earth',
 '1289': 'Earth',
 '1291': 'Mars',
 '1292': 'Europa',
 '1293': 'Earth',
 '1294': 'Europa',
 '1295': 'Earth',
 '1299': 'Earth',
 '1300': 'Earth',
 '1302': 'Mars',
 '1304': 'Earth',
 '1306': 'Europa',
 '1307': 'Earth',
 '1308': 'Europa',
 '1309': 'Earth',
 '1310': 'Europa',
 '1311': 'Mars',
 '1312': 'Earth',
 '1316': 'Europa',
 '1317': 'Mars',
 '1322': 'Earth',
 '1323': 'Earth',
 '1324': 'Earth',
 '1325': 'Earth',
 '1326': 'Mars',
 '1328': 'Earth',
 '1330': 'Mars',
 '1331': 'Earth',
 '1332': 'Earth',
 '1333': 'Earth',
 '1335': 'Earth',
 '1336': 'Earth',
 '1337': 'Earth',
 '1340': 'Earth',
 '1342': 'Earth',
 '1345': 'Earth',
 '1348': 'Europa',
 '1350': 'Earth',
 '1351': 'Earth',
 '1352': 'Mars',
 '1353': 'Mars',
 '1355': 'Earth',
 '1356': 'Earth',
 '1357': 'Mars',
 '1360': 'Earth',
 '1362': 'Earth',
 '1365': 'Europa',
 '1366': 'Earth',
 '1368': 'Earth',
 '1370': 'Earth',
 '1371': 'Mars',
 '1375': 'Earth',
 '1376': 'Earth',
 '1377': 'Europa',
 '1378': 'Earth',
 '1379': 'Earth',
 '1380': 'Europa',
 '1381': 'Earth',
 '1382': 'Earth',
 '1383': 'Europa',
 '1384': 'Earth',
 '1386': 'Earth',
 '1387': 'Mars',
 '1389': 'Earth',
 '1390': 'Earth',
 '1391': 'Mars',
 '1393': 'Mars',
 '1395': 'Earth',
 '1397': 'Earth',
 '1398': 'Earth',
 '1399': 'Earth',
 '1400': 'Earth',
 '1401': 'Earth',
 '1402': 'Earth',
 '1403': 'Earth',
 '1404': 'Europa',
 '1406': 'Mars',
 '1407': 'Earth',
 '1408': 'Earth',
 '1410': 'Earth',
 '1412': 'Earth',
 '1413': 'Earth',
 '1414': 'Earth',
 '1415': 'Europa',
 '1416': 'Earth',
 '1417': 'Europa',
 '1419': 'Mars',
 '1420': 'Mars',
 '1421': 'Mars',
 '1423': 'Europa',
 '1424': 'Europa',
 '1425': 'Earth',
 '1426': 'Europa',
 '1427': 'Mars',
 '1428': 'Earth',
 '1430': 'Earth',
 '1431': 'Earth',
 '1433': 'Earth',
 '1434': 'Earth',
 '1435': 'Earth',
 '1438': 'Earth',
 '1439': 'Mars',
 '1440': 'Earth',
 '1442': 'Earth',
 '1443': 'Earth',
 '1444': 'Europa',
 '1445': 'Earth',
 '1447': 'Earth',
 '1450': 'Europa',
 '1451': 'Europa',
 '1452': 'Europa',
 '1453': 'Earth',
 '1454': 'Europa',
 '1455': 'Europa',
 '1457': 'Earth',
 '1460': 'Earth',
 '1461': 'Earth',
 '1462': 'Earth',
 '1463': 'Earth',
 '1465': 'Earth',
 '1474': 'Mars',
 '1478': 'Earth',
 '1479': 'Mars',
 '1481': 'Mars',
 '1484': 'Earth',
 '1485': 'Mars',
 '1488': 'Mars',
 '1489': 'Earth',
 '1490': 'Europa',
 '1491': 'Earth',
 '1493': 'Earth',
 '1498': 'Earth',
 '1499': 'Earth',
 '1500': 'Earth',
 '1501': 'Earth',
 '1503': 'Mars',
 '1506': 'Earth',
 '1507': 'Earth',
 '1509': 'Mars',
 '1510': 'Mars',
 '1511': 'Europa',
 '1515': 'Earth',
 '1520': 'Earth',
 '1521': 'Mars',
 '1523': 'Europa',
 '1524': 'Earth',
 '1525': 'Mars',
 '1526': 'Earth',
 '1527': 'Europa',
 '1528': 'Mars',
 '1529': 'Europa',
 '1531': 'Earth',
 ...}

In [68]:
# zip으로도 가능
for g,hp in zip(home_group['Group'],home_group['HomePlanet']):
    print(g,hp)

0001 Europa
0002 Earth
0003 Europa
0004 Earth
0005 Earth
0006 Earth
0007 Earth
0008 Europa
0009 Mars
0010 Earth
0011 Earth
0012 Earth
0014 Mars
0015 Earth
0016 Mars
0017 Earth
0020 Earth
0022 Mars
0024 Europa
0025 Earth
0026 Europa
0028 Mars
0030 Earth
0031 Mars
0034 Europa
0035 Mars
0036 Earth
0038 Earth
0039 Earth
0041 Earth
0043 Europa
0044 Earth
0045 Mars
0050 Earth
0051 Earth
0052 Earth
0053 Earth
0056 Europa
0058 Earth
0061 Earth
0062 Earth
0064 Mars
0066 Earth
0067 Earth
0068 Mars
0069 Earth
0070 Earth
0071 Earth
0072 Earth
0073 Mars
0074 Europa
0076 Mars
0077 Mars
0078 Europa
0081 Earth
0082 Mars
0084 Earth
0085 Europa
0086 Earth
0088 Mars
0090 Earth
0091 Earth
0092 Earth
0097 Europa
0098 Earth
0099 Earth
0101 Mars
0102 Earth
0103 Earth
0105 Earth
0107 Mars
0108 Earth
0110 Europa
0111 Europa
0112 Europa
0113 Earth
0114 Earth
0115 Mars
0116 Europa
0119 Europa
0120 Mars
0122 Earth
0123 Earth
0126 Mars
0127 Mars
0128 Mars
0129 Earth
0133 Mars
0134 Earth
0136 Earth
0138 Earth
0139 Europa
0140 Earth
0141 Mars
0144 Earth
0146 Earth
0147 Earth
0148 Mars
0149 Earth
0151 Earth
0152 Earth
0160 Earth
0163 Europa
0164 Earth
0165 Mars
0167 Mars
0169 Earth
0170 Earth
0171 Earth
0172 Earth
0173 Earth
0174 Earth
0177 Europa
0178 Mars
0179 Earth
0181 Earth
0182 Europa
0183 Earth
0186 Earth
0188 Earth
0189 Earth
0190 Earth
0192 Earth
0193 Mars
0195 Mars
0196 Mars
0197 Europa
0198 Earth
0199 Earth
0200 Earth
0201 Europa
0202 Europa
0203 Europa
0205 Earth
0206 Europa
0207 Earth
0211 Mars
0212 Earth
0213 Earth
0216 Earth
0217 Earth
0219 Earth
0220 Earth
0221 Mars
0222 Mars
0223 Earth
0224 Mars
0225 Earth
0229 Earth
0231 Mars
0232 Earth
0233 Mars
0234 Earth
0237 Europa
0239 Mars
0240 Mars
0241 Europa
0243 Earth
0244 Mars
0245 Europa
0246 Mars
0248 Europa
0250 Earth
0252 Earth
0253 Earth
0254 Earth
0255 Europa
0257 Mars
0258 Earth
0260 Europa
0261 Earth
0263 Earth
0265 Europa
0267 Earth
0269 Earth
0270 Earth
0275 Europa
0277 Earth
0278 Earth
0281 Earth
0282 Earth
0283 Earth
0285 Europa
0286 Earth
0287 Europa
0288 Earth
0289 Europa
0290 Europa
0291 Europa
0294 Europa
0297 Earth
0298 Europa
0301 Earth
0302 Earth
0304 Europa
0305 Europa
0306 Earth
0307 Earth
0309 Earth
0310 Europa
0313 Earth
0314 Earth
0316 Europa
0320 Earth
0322 Earth
0324 Earth
0326 Earth
0327 Earth
0330 Europa
0331 Earth
0333 Mars
0334 Mars
0336 Earth
0337 Mars
0338 Earth
0340 Europa
0341 Earth
0343 Earth
0345 Mars
0346 Earth
0347 Mars
0348 Mars
0350 Earth
0352 Mars
0355 Earth
0356 Europa
0357 Earth
0358 Earth
0359 Earth
0360 Earth
0361 Earth
0365 Earth
0368 Mars
0369 Earth
0370 Earth
0371 Mars
0372 Earth
0373 Earth
0375 Earth
0376 Earth
0377 Europa
0378 Europa
0379 Earth
0380 Europa
0381 Europa
0383 Earth
0384 Earth
0385 Earth
0387 Earth
0388 Earth
0389 Earth
0391 Europa
0392 Earth
0395 Europa
0396 Earth
0397 Mars
0398 Mars
0401 Mars
0403 Mars
0405 Earth
0407 Earth
0408 Mars
0409 Mars
0410 Earth
0411 Earth
0412 Europa
0413 Earth
0415 Earth
0417 Europa
0423 Europa
0425 Mars
0427 Europa
0428 Europa
0429 Europa
0430 Earth
0431 Mars
0432 Mars
0433 Europa
0434 Mars
0435 Earth
0436 Earth
0437 Earth
0438 Europa
0439 Europa
0441 Earth
0442 Earth
0444 Mars
0445 Earth
0446 Europa
0447 Earth
0448 Earth
0449 Earth
0452 Mars
0453 Europa
0454 Europa
0456 Earth
0457 Earth
0458 Europa
0459 Earth
0460 Earth
0461 Earth
0462 Earth
0463 Mars
0465 Earth
0466 Earth
0468 Earth
0470 Mars
0471 Europa
0472 Earth
0474 Earth
0475 Earth
0476 Mars
0477 Earth
0480 Earth
0481 Earth
0482 Earth
0485 Europa
0487 Europa
0488 Earth
0490 Earth
0498 Europa
0499 Mars
0500 Mars
0501 Europa
0502 Mars
0503 Mars
0504 Europa
0506 Mars
0507 Earth
0510 Europa
0512 Europa
0513 Earth
0515 Europa
0516 Europa
0517 Earth
0519 Earth
0520 Earth
0521 Earth
0522 Earth
0523 Earth
0525 Earth
0527 Mars
0528 Europa
0529 Earth
0531 Earth
0533 Mars
0534 Europa
0537 Earth
0538 Earth
0539 Europa
0540 Mars
0542 Earth
0545 Earth
0546 Earth
0547 Earth
0548 Earth
0549 Mars
0550 Earth
0551 Earth
0552 Europa
0553 Europa
0555 Europa
0556 Earth
0559 Earth
0560 Earth
0561 Earth
0563 Mars
0564 Europa
0565 Mars
0566 Mars
0567 Earth
0568 Europa
0569 Earth
0570 Europa
0571 Europa
0572 Earth
0573 Earth
0575 Europa
0576 Earth
0577 Earth
0579 Earth
0580 Earth
0581 Earth
0582 Mars
0583 Mars
0585 Mars
0586 Europa
0587 Mars
0588 Earth
0589 Earth
0590 Earth
0591 Earth
0593 Mars
0594 Earth
0596 Mars
0597 Earth
0598 Earth
0599 Mars
0600 Europa
0602 Mars
0603 Earth
0607 Europa
0608 Earth
0609 Mars
0610 Earth
0611 Earth
0612 Europa
0614 Earth
0615 Earth
0618 Earth
0619 Europa
0623 Earth
0628 Earth
0629 Earth
0630 Mars
0631 Mars
0633 Mars
0634 Earth
0635 Earth
0636 Earth
0637 Mars
0638 Europa
0639 Earth
0641 Earth
0642 Europa
0643 Mars
0644 Europa
0645 Earth
0646 Europa
0647 Mars
0650 Earth
0653 Mars
0655 Mars
0656 Earth
0657 Earth
0658 Earth
0659 Earth
0660 Earth
0661 Europa
0663 Earth
0664 Europa
0665 Mars
0668 Earth
0669 Earth
0671 Earth
0672 Earth
0674 Earth
0677 Earth
0678 Earth
0679 Earth
0680 Earth
0682 Mars
0683 Mars
0684 Mars
0685 Earth
0686 Mars
0687 Mars
0688 Mars
0689 Europa
0690 Mars
0691 Mars
0693 Europa
0696 Earth
0697 Earth
0699 Mars
0701 Europa
0702 Earth
0703 Earth
0704 Earth
0705 Earth
0707 Earth
0709 Europa
0710 Mars
0712 Mars
0713 Earth
0714 Earth
0715 Europa
0718 Earth
0719 Mars
0724 Earth
0726 Earth
0727 Earth
0728 Earth
0729 Earth
0732 Earth
0733 Earth
0734 Earth
0736 Earth
0737 Europa
0738 Mars
0740 Europa
0743 Earth
0746 Earth
0750 Earth
0753 Europa
0754 Europa
0756 Europa
0757 Mars
0761 Europa
0762 Earth
0764 Earth
0765 Mars
0767 Earth
0768 Europa
0769 Europa
0770 Earth
0771 Earth
0772 Europa
0773 Earth
0776 Earth
0777 Europa
0779 Earth
0781 Earth
0782 Mars
0784 Europa
0785 Earth
0786 Earth
0787 Earth
0788 Earth
0789 Europa
0790 Earth
0791 Earth
0793 Earth
0794 Mars
0795 Earth
0796 Europa
0797 Earth
0798 Mars
0799 Europa
0802 Mars
0805 Europa
0806 Earth
0808 Earth
0809 Mars
0811 Mars
0813 Mars
0815 Earth
0816 Europa
0817 Earth
0818 Europa
0819 Earth
0820 Earth
0822 Earth
0823 Earth
0824 Mars
0825 Earth
0826 Earth
0828 Earth
0829 Earth
0830 Earth
0833 Europa
0834 Earth
0835 Earth
0836 Mars
0839 Europa
0840 Earth
0845 Europa
0846 Earth
0848 Mars
0849 Europa
0850 Mars
0851 Earth
0859 Earth
0860 Earth
0863 Earth
0865 Europa
0867 Earth
0868 Earth
0869 Earth
0870 Earth
0871 Europa
0873 Earth
0874 Earth
0875 Earth
0876 Earth
0877 Europa
0878 Mars
0879 Earth
0881 Europa
0883 Earth
0885 Earth
0889 Europa
0890 Mars
0893 Earth
0898 Earth
0899 Earth
0901 Mars
0902 Earth
0903 Earth
0904 Europa
0905 Mars
0906 Earth
0907 Europa
0910 Earth
0911 Mars
0912 Europa
0913 Europa
0915 Earth
0918 Earth
0919 Earth
0921 Earth
0922 Europa
0923 Europa
0924 Earth
0925 Mars
0926 Europa
0927 Earth
0928 Earth
0930 Earth
0931 Earth
0932 Mars
0933 Europa
0935 Earth
0938 Earth
0939 Earth
0940 Earth
0941 Earth
0942 Mars
0944 Earth
0946 Earth
0947 Earth
0949 Earth
0951 Earth
0952 Mars
0953 Earth
0955 Earth
0956 Earth
0957 Mars
0960 Earth
0961 Earth
0964 Europa
0965 Mars
0966 Earth
0968 Earth
0969 Mars
0970 Earth
0971 Earth
0972 Earth
0975 Earth
0976 Earth
0978 Earth
0979 Europa
0982 Earth
0983 Earth
0984 Earth
0985 Earth
0987 Earth
0988 Earth
0989 Earth
0990 Earth
0991 Earth
0992 Europa
0993 Earth
0994 Earth
0995 Europa
0997 Mars
0998 Europa
1000 Mars
1001 Earth
1002 Mars
1004 Europa
1005 Earth
1006 Earth
1008 Europa
1011 Earth
1012 Earth
1013 Earth
1014 Mars
1015 Earth
1017 Earth
1018 Earth
1019 Earth
1020 Mars
1022 Earth
1024 Earth
1025 Earth
1026 Earth
1027 Mars
1029 Mars
1030 Earth
1031 Earth
1032 Earth
1033 Earth
1034 Earth
1035 Mars
1036 Earth
1038 Earth
1040 Earth
1041 Europa
1043 Earth
1045 Europa
1046 Earth
1047 Earth
1048 Earth
1049 Mars
1051 Earth
1052 Earth
1053 Earth
1054 Earth
1056 Mars
1057 Europa
1058 Earth
1060 Earth
1062 Earth
1063 Europa
1065 Mars
1066 Mars
1068 Earth
1075 Europa
1076 Earth
1077 Earth
1078 Earth
1079 Earth
1080 Mars
1082 Mars
1083 Mars
1084 Earth
1085 Earth
1086 Earth
1088 Earth
1089 Europa
1091 Mars
1093 Mars
1094 Earth
1095 Europa
1096 Earth
1097 Mars
1099 Earth
1100 Mars
1102 Mars
1105 Earth
1108 Mars
1110 Europa
1112 Europa
1113 Earth
1114 Mars
1115 Earth
1116 Earth
1117 Earth
1121 Earth
1123 Europa
1127 Europa
1129 Earth
1130 Mars
1132 Earth
1133 Mars
1134 Europa
1136 Earth
1140 Europa
1141 Earth
1142 Earth
1144 Earth
1146 Earth
1147 Europa
1148 Europa
1149 Earth
1150 Earth
1152 Mars
1153 Earth
1154 Europa
1155 Earth
1156 Europa
1161 Europa
1162 Europa
1163 Earth
1165 Europa
1166 Europa
1167 Mars
1168 Earth
1169 Mars
1170 Earth
1173 Earth
1174 Earth
1175 Mars
1177 Europa
1178 Earth
1179 Europa
1180 Earth
1182 Mars
1185 Mars
1186 Earth
1187 Earth
1188 Europa
1190 Earth
1191 Earth
1192 Earth
1193 Europa
1195 Earth
1197 Europa
1198 Mars
1199 Earth
1203 Europa
1206 Earth
1208 Earth
1210 Earth
1211 Earth
1212 Earth
1213 Earth
1214 Earth
1215 Earth
1216 Earth
1218 Earth
1220 Europa
1221 Earth
1222 Earth
1223 Europa
1225 Earth
1228 Mars
1229 Earth
1230 Earth
1231 Mars
1232 Europa
1233 Earth
1234 Earth
1235 Earth
1236 Earth
1238 Europa
1239 Earth
1240 Earth
1242 Europa
1243 Europa
1246 Earth
1248 Earth
1250 Earth
1254 Mars
1255 Mars
1256 Mars
1258 Europa
1259 Earth
1260 Earth
1261 Europa
1263 Mars
1264 Earth
1267 Earth
1269 Mars
1271 Earth
1273 Earth
1274 Earth
1278 Earth
1279 Europa
1280 Earth
1281 Earth
1282 Earth
1283 Earth
1284 Mars
1285 Earth
1286 Mars
1287 Mars
1288 Earth
1289 Earth
1291 Mars
1292 Europa
1293 Earth
1294 Europa
1295 Earth
1299 Earth
1300 Earth
1302 Mars
1304 Earth
1306 Europa
1307 Earth
1308 Europa
1309 Earth
1310 Europa
1311 Mars
1312 Earth
1316 Europa
1317 Mars
1322 Earth
1323 Earth
1324 Earth
1325 Earth
1326 Mars
1328 Earth
1330 Mars
1331 Earth
1332 Earth
1333 Earth
1335 Earth
1336 Earth
1337 Earth
1340 Earth
1342 Earth
1345 Earth
1348 Europa
1350 Earth
1351 Earth
1352 Mars
1353 Mars
1355 Earth
1356 Earth
1357 Mars
1360 Earth
1362 Earth
1365 Europa
1366 Earth
1368 Earth
1370 Earth
1371 Mars
1375 Earth
1376 Earth
1377 Europa
1378 Earth
1379 Earth
1380 Europa
1381 Earth
1382 Earth
1383 Europa
1384 Earth
1386 Earth
1387 Mars
1389 Earth
1390 Earth
1391 Mars
1393 Mars
1395 Earth
1397 Earth
1398 Earth
1399 Earth
1400 Earth
1401 Earth
1402 Earth
1403 Earth
1404 Europa
1406 Mars
1407 Earth
1408 Earth
1410 Earth
1412 Earth
1413 Earth
1414 Earth
1415 Europa
1416 Earth
1417 Europa
1419 Mars
1420 Mars
1421 Mars
1423 Europa
1424 Europa
1425 Earth
1426 Europa
1427 Mars
1428 Earth
1430 Earth
1431 Earth
1433 Earth
1434 Earth
1435 Earth
1438 Earth
1439 Mars
1440 Earth
1442 Earth
1443 Earth
1444 Europa
1445 Earth
1447 Earth
1450 Europa
1451 Europa
1452 Europa
1453 Earth
1454 Europa
1455 Europa
1457 Earth
1460 Earth
1461 Earth
1462 Earth
1463 Earth
1465 Earth
1474 Mars
1478 Earth
1479 Mars
1481 Mars
1484 Earth
1485 Mars
1488 Mars
1489 Earth
1490 Europa
1491 Earth
1493 Earth
1498 Earth
1499 Earth
1500 Earth
1501 Earth
1503 Mars
1506 Earth
1507 Earth
1509 Mars
1510 Mars
1511 Europa
1515 Earth
1520 Earth
1521 Mars
1523 Europa
1524 Earth
1525 Mars
1526 Earth
1527 Europa
1528 Mars
1529 Europa
1531 Earth
1532 Europa
1533 Earth
1536 Mars
1539 Europa
1540 Europa
1541 Earth
1542 Mars
1543 Europa
1544 Earth
1545 Mars
1547 Earth
1548 Europa
1550 Europa
1551 Europa
1552 Earth
1555 Europa
1558 Earth
1560 Earth
1561 Earth
1562 Earth
1564 Mars
1565 Earth
1567 Europa
1568 Earth
1569 Mars
1572 Earth
1573 Mars
1576 Mars
1577 Earth
1578 Earth
1579 Earth
1580 Earth
1581 Mars
1584 Earth
1585 Earth
1588 Europa
1590 Europa
1592 Europa
1593 Earth
1594 Earth
1595 Europa
1596 Europa
1597 Earth
1599 Europa
1601 Earth
1602 Earth
1603 Earth
1604 Earth
1606 Europa
1608 Earth
1611 Earth
1612 Europa
1613 Earth
1614 Mars
1615 Earth
1617 Mars
1619 Earth
1621 Earth
1622 Mars
1624 Earth
1625 Europa
1626 Earth
1628 Europa
1630 Earth
1631 Earth
1632 Europa
1633 Earth
1634 Earth
1635 Earth
1636 Earth
1637 Earth
1638 Earth
1640 Earth
1644 Earth
1646 Earth
1647 Earth
1649 Earth
1650 Earth
1651 Earth
1653 Europa
1655 Earth
1656 Earth
1657 Earth
1658 Mars
1659 Earth
1660 Earth
1661 Europa
1662 Earth
1663 Earth
1666 Europa
1668 Earth
1669 Mars
1670 Earth
1671 Europa
1672 Earth
1673 Earth
1674 Earth
1676 Earth
1677 Earth
1681 Earth
1682 Mars
1685 Earth
1687 Mars
1688 Earth
1690 Earth
1691 Mars
1694 Earth
1695 Earth
1696 Europa
1697 Earth
1699 Earth
1700 Europa
1704 Mars
1705 Mars
1708 Earth
1709 Mars
1710 Earth
1711 Earth
1712 Mars
1713 Earth
1714 Earth
1715 Earth
1717 Earth
1718 Earth
1719 Earth
1721 Earth
1723 Earth
1724 Europa
1725 Earth
1727 Mars
1728 Earth
1729 Earth
1730 Earth
1731 Earth
1733 Earth
1734 Earth
1736 Earth
1738 Earth
1739 Earth
1740 Earth
1742 Mars
1745 Europa
1746 Mars
1747 Earth
1748 Earth
1749 Earth
1752 Earth
1753 Earth
1755 Earth
1757 Earth
1758 Earth
1760 Earth
1761 Earth
1762 Earth
1763 Europa
1764 Mars
1766 Earth
1767 Europa
1768 Earth
1769 Mars
1770 Europa
1771 Earth
1772 Mars
1774 Mars
1775 Earth
1776 Earth
1778 Earth
1779 Earth
1781 Europa
1782 Earth
1783 Earth
1785 Mars
1786 Earth
1792 Mars
1796 Europa
1797 Europa
1798 Earth
1799 Earth
1800 Earth
1802 Earth
1803 Earth
1804 Mars
1805 Earth
1806 Mars
1807 Europa
1808 Earth
1810 Mars
1811 Earth
1813 Earth
1816 Europa
1817 Earth
1818 Earth
1821 Earth
1822 Earth
1826 Earth
1827 Earth
1828 Earth
1829 Europa
1831 Earth
1833 Europa
1834 Mars
1836 Earth
1841 Earth
1843 Europa
1844 Earth
1846 Earth
1847 Earth
1848 Earth
1849 Earth
1850 Earth
1853 Earth
1854 Europa
1855 Earth
1856 Earth
1857 Mars
1859 Mars
1860 Europa
1861 Mars
1863 Earth
1864 Mars
1865 Earth
1866 Earth
1868 Mars
1871 Europa
1872 Mars
1873 Earth
1874 Earth
1877 Earth
1878 Earth
1879 Europa
1880 Earth
1881 Earth
1882 Europa
1884 Mars
1886 Earth
1887 Earth
1888 Earth
1889 Earth
1890 Earth
1891 Mars
1892 Europa
1897 Europa
1898 Earth
1899 Earth
1901 Europa
1902 Earth
1903 Earth
1905 Earth
1906 Earth
1907 Europa
1908 Mars
1911 Earth
1915 Earth
1916 Europa
1918 Europa
1920 Mars
1922 Earth
1923 Europa
1925 Earth
1927 Mars
1928 Earth
1931 Europa
1933 Earth
1935 Earth
1937 Earth
1938 Earth
1939 Mars
1940 Mars
1941 Earth
1942 Earth
1945 Earth
1946 Earth
1947 Earth
1950 Earth
1952 Earth
1953 Earth
1956 Mars
1957 Earth
1959 Europa
1960 Earth
1961 Earth
1962 Earth
1963 Earth
1964 Europa
1967 Earth
1968 Earth
1969 Europa
1971 Earth
1973 Europa
1974 Mars
1975 Earth
1976 Europa
1977 Mars
1979 Earth
1980 Earth
1981 Earth
1983 Earth
1984 Europa
1985 Mars
1988 Earth
1991 Earth
1992 Mars
1993 Earth
1994 Earth
1995 Earth
1996 Earth
1997 Earth
1999 Earth
2000 Europa
2001 Earth
2003 Earth
2006 Earth
2007 Europa
2009 Europa
2010 Earth
2011 Earth
2012 Europa
2013 Earth
2015 Earth
2019 Europa
2022 Earth
2024 Earth
2026 Earth
2027 Earth
2028 Earth
2029 Earth
2032 Mars
2034 Earth
2038 Earth
2040 Europa
2041 Earth
2042 Earth
2043 Mars
2044 Earth
2045 Earth
2046 Earth
2051 Earth
2052 Mars
2053 Europa
2054 Europa
2055 Earth
2056 Earth
2059 Earth
2061 Europa
2062 Mars
2063 Earth
2065 Earth
2066 Earth
2067 Europa
2070 Earth
2071 Europa
2073 Earth
2074 Europa
2075 Earth
2080 Earth
2081 Earth
2082 Earth
2083 Earth
2084 Europa
2085 Europa
2086 Europa
2087 Earth
2088 Earth
2089 Earth
2090 Earth
2091 Earth
2092 Mars
2094 Mars
2095 Earth
2096 Mars
2097 Europa
2099 Mars
2100 Earth
2102 Europa
2104 Earth
2105 Earth
2106 Earth
2107 Earth
2110 Earth
2111 Mars
2112 Mars
2114 Europa
2115 Europa
2116 Earth
2117 Europa
2118 Earth
2120 Mars
2121 Earth
2123 Earth
2124 Earth
2125 Earth
2126 Earth
2127 Earth
2128 Earth
2129 Earth
2130 Earth
2131 Earth
2133 Mars
2134 Mars
2135 Earth
2136 Earth
2137 Mars
2138 Earth
2139 Mars
2140 Earth
2141 Earth
2142 Mars
2143 Earth
2144 Earth
2145 Earth
2147 Mars
2148 Earth
2149 Europa
2150 Earth
2152 Earth
2153 Earth
2154 Earth
2156 Earth
2158 Earth
2159 Earth
2161 Mars
2162 Mars
2163 Earth
2164 Europa
2167 Earth
2168 Mars
2171 Earth
2172 Earth
2173 Earth
2175 Earth
2177 Mars
2179 Europa
2180 Earth
2182 Europa
2183 Mars
2186 Earth
2187 Earth
2188 Earth
2189 Earth
2190 Earth
2191 Mars
2193 Earth
2194 Earth
2195 Earth
2196 Europa
2198 Earth
2200 Mars
2201 Europa
2202 Mars
2203 Mars
2204 Europa
2205 Earth
2206 Earth
2207 Earth
2209 Earth
2210 Earth
2211 Earth
2212 Earth
2215 Europa
2219 Earth
2220 Earth
2221 Earth
2223 Earth
2224 Earth
2225 Earth
2228 Mars
2229 Earth
2231 Mars
2232 Earth
2233 Earth
2234 Mars
2235 Earth
2237 Europa
2238 Europa
2239 Earth
2241 Earth
2243 Earth
2251 Europa
2252 Earth
2253 Earth
2254 Earth
2255 Europa
2256 Earth
2257 Europa
2258 Earth
2261 Earth
2262 Earth
2263 Earth
2264 Earth
2266 Mars
2267 Mars
2268 Earth
2269 Mars
2270 Mars
2272 Earth
2273 Earth
2274 Europa
2275 Mars
2277 Earth
2278 Europa
2279 Europa
2280 Europa
2281 Earth
2282 Earth
2284 Mars
2287 Earth
2288 Earth
2289 Mars
2291 Earth
2295 Earth
2296 Earth
2298 Earth
2299 Mars
2300 Europa
2301 Earth
2302 Europa
2303 Mars
2305 Earth
2306 Europa
2308 Europa
2309 Earth
2310 Europa
2311 Earth
2313 Mars
2314 Earth
2315 Europa
2316 Earth
2317 Earth
2318 Earth
2320 Earth
2321 Earth
2325 Earth
2327 Europa
2329 Mars
2332 Earth
2333 Mars
2336 Europa
2338 Earth
2339 Mars
2340 Earth
2341 Earth
2345 Earth
2347 Earth
2348 Europa
2349 Earth
2353 Earth
2356 Mars
2357 Earth
2360 Earth
2361 Earth
2363 Europa
2364 Earth
2365 Europa
2366 Mars
2367 Earth
2368 Mars
2369 Earth
2373 Europa
2374 Mars
2375 Earth
2376 Earth
2377 Europa
2379 Earth
2382 Earth
2384 Earth
2385 Mars
2387 Earth
2389 Earth
2390 Earth
2391 Earth
2395 Earth
2396 Earth
2397 Earth
2398 Earth
2399 Mars
2401 Earth
2402 Earth
2403 Earth
2404 Europa
2406 Mars
2409 Earth
2410 Earth
2411 Earth
2412 Earth
2413 Earth
2414 Europa
2416 Earth
2417 Earth
2419 Earth
2421 Mars
2423 Earth
2424 Earth
2426 Mars
2427 Europa
2429 Earth
2431 Earth
2432 Earth
2433 Europa
2435 Earth
2436 Earth
2438 Mars
2439 Earth
2441 Earth
2442 Mars
2444 Earth
2445 Earth
2446 Earth
2449 Mars
2452 Earth
2453 Mars
2454 Earth
2455 Mars
2456 Earth
2457 Earth
2458 Earth
2460 Earth
2462 Earth
2463 Earth
2466 Earth
2467 Mars
2470 Earth
2471 Earth
2472 Earth
2474 Mars
2475 Europa
2476 Earth
2477 Europa
2478 Earth
2479 Earth
2480 Earth
2483 Earth
2486 Earth
2488 Mars
2489 Europa
2491 Earth
2492 Mars
2496 Earth
2497 Earth
2498 Earth
2499 Europa
2500 Earth
2502 Earth
2503 Mars
2505 Earth
2506 Europa
2508 Europa
2509 Earth
2510 Mars
2512 Europa
2513 Earth
2515 Europa
2516 Earth
2518 Europa
2519 Earth
2520 Europa
2521 Mars
2522 Mars
2523 Europa
2524 Europa
2526 Europa
2527 Earth
2528 Mars
2530 Mars
2531 Earth
2532 Mars
2534 Europa
2535 Earth
2537 Earth
2540 Mars
2541 Europa
2542 Mars
2544 Europa
2545 Earth
2546 Earth
2547 Europa
2548 Earth
2549 Mars
2550 Earth
2551 Earth
2552 Earth
2553 Europa
2555 Europa
2557 Europa
2558 Mars
2559 Europa
2560 Earth
2561 Earth
2562 Mars
2564 Europa
2565 Mars
2571 Earth
2572 Europa
2573 Europa
2574 Earth
2578 Earth
2580 Earth
2581 Earth
2582 Earth
2584 Earth
2588 Earth
2589 Europa
2590 Earth
2591 Earth
2592 Mars
2593 Earth
2594 Europa
2595 Mars
2596 Mars
2597 Mars
2598 Mars
2599 Earth
2601 Mars
2602 Mars
2605 Mars
2606 Earth
2607 Europa
2609 Earth
2616 Earth
2617 Earth
2619 Earth
2622 Earth
2624 Earth
2625 Earth
2626 Earth
2627 Earth
2628 Europa
2629 Earth
2631 Mars
2633 Earth
2634 Mars
2635 Mars
2636 Earth
2638 Earth
2640 Earth
2641 Earth
2643 Earth
2645 Europa
2646 Europa
2647 Earth
2648 Earth
2649 Mars
2650 Earth
2651 Europa
2652 Earth
2655 Earth
2657 Earth
2658 Earth
2659 Mars
2660 Earth
2661 Earth
2662 Mars
2663 Earth
2664 Mars
2666 Mars
2668 Earth
2670 Earth
2671 Earth
2672 Earth
2675 Europa
2676 Europa
2677 Europa
2678 Earth
2679 Earth
2682 Earth
2683 Europa
2684 Europa
2685 Earth
2687 Earth
2690 Earth
2691 Earth
2692 Earth
2693 Europa
2695 Mars
2697 Mars
2698 Europa
2700 Earth
2701 Earth
2702 Earth
2703 Earth
2704 Earth
2706 Europa
2707 Europa
2708 Earth
2709 Mars
2712 Europa
2713 Earth
2714 Earth
2717 Earth
2718 Europa
2720 Earth
2721 Earth
2722 Mars
2723 Europa
2724 Mars
2725 Earth
2726 Earth
2727 Earth
2729 Earth
2730 Earth
2732 Earth
2734 Mars
2736 Mars
2737 Europa
2738 Mars
2739 Earth
2740 Earth
2741 Mars
2743 Earth
2745 Mars
2746 Mars
2747 Mars
2748 Earth
2750 Earth
2751 Mars
2752 Earth
2753 Earth
2754 Earth

In [69]:
# 위에서 선언한 dictionary로 결측치 채우기
train['HomePlanet'].fillna(train['Group'].map(group_home_dict), inplace=True)

In [76]:
# 기존 결측치 확인
data['HomePlanet'].isnull().sum()

201

In [74]:
# 새로운 결측치 확인
train['HomePlanet'].isnull().sum()

111

위에서 가족끼리 온 결측치를 처리했지만, 혼자 온 사람이 있거나 같은 group으로 묶이지 않음

In [78]:
# 이름의 성만 가져오기
train['Name'].str.split(' ').str[-1]

0         Ofracculy
1             Vines
2            Susent
3            Susent
4       Santantines
           ...
8688      Noxnuther
8689      Mondalley
8690         Connon
8691      Hontichre
8692      Hontichre
Name: Name, Length: 8693, dtype: object

In [81]:
# 이름의 성만 가져와서 Group2로 선언
group2=[]
for i in train['Name'].str.split(' '):
    try:
        group2.append(i[1])
    except: 
        group2.append(None)
train['Group2'] = group2
train['Group2']

0         Ofracculy
1             Vines
2            Susent
3            Susent
4       Santantines
           ...
8688      Noxnuther
8689      Mondalley
8690         Connon
8691      Hontichre
8692      Hontichre
Name: Group2, Length: 8693, dtype: object

In [84]:
# 위와 같은 방법으로 묶어서 사용
home_group2 = train.groupby(['Group2','HomePlanet']).size().reset_index()
home_group2

           Group2 HomePlanet   0
0         Acobson      Earth   4
1        Acobsond      Earth   3
2       Adavisons      Earth   9
3        Adkinson      Earth   3
4      Admingried     Europa   4
...           ...        ...  ..
2205  Wynneyerson      Earth   2
2206       Yanton      Earth   6
2207      Yatters      Earth   4
2208     Yorkland      Earth  11
2209   Youngrayes      Earth   3

[2210 rows x 3 columns]