# Ìå®ÌÇ§ÏßÄ
* Ï≤òÏùåÏóê Ìå®ÌÇ§ÏßÄ Îã§Ïö¥Î°úÎìúÌïòÍ≥† ÏãúÏûë
* pip install (Ìå®ÌÇ§ÏßÄ Ïù¥Î¶Ñ)
* ÏÑ§ÏπòÌïòÎäî Ìå®ÌÇ§ÏßÄÎ•º Ï≠â Ï†ïÎ†¨ÌïòÎäî Î∞©Î≤ïÎèÑ ÏûàÎã§.

In [19]:
# Ìå®ÌÇ§ÏßÄ ÏÑ§Ïπò
!pip install emoji

Requirement already satisfied: emoji in c:\users\user\anaconda3\lib\site-packages (2.1.0)

In [20]:
# ÏÑ§ÏπòÌïú Ìå®ÌÇ§ÏßÄ ÏÇ¨Ïö©
import emoji
# :Ïù¥Î™®Ìã∞ÏΩò:ÏúºÎ°ú ÏÇ¨Ïö©
print(emoji.emojize('PHd is very easy!! :thumbs_up:'))
print(emoji.emojize(':red_heart:'))

PHd is very easy!! üëç
‚ù§Ô∏è

In [21]:
# Ìå®ÌÇ§ÏßÄ ÏÑ§Ïπò
!pip install pydataset

Requirement already satisfied: pydataset in c:\users\user\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from pydataset) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->pydataset) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)

## Dataset
* pythonÏóêÏÑú Îπ†Î•¥Í≤å Îã§ÏñëÌïú Ï¢ÖÎ•òÏùò datasetÏóê Ï†ëÍ∑ºÌï¥ dataframeÎ•º Î∂àÎü¨Ïò§Îäî ÎùºÏù¥Î∏åÎü¨Î¶¨
* pandasÎ•º ÏÇ¨Ïö©Ìï¥ÎèÑ ÎêòÏßÄÎßå, dataframeÎßå Î∂àÎü¨Ïò¨ ÎïåÎäî ÌïÑÏöî X

In [22]:
import pydataset as pds

In [23]:
# data ÌôïÏù∏
pds.data() 
# pydÏùò Îç∞Ïù¥ÌÑ∞Ïóê 727 x 2Ïùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÏùå 
# Ìï¥Îãπ Í≤∞Í≥ºÎäî Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ Î™®ÏïÑÎÜìÏùÄ id ÏôÄ Ï†úÎ™©Îßå Ï∂úÎ†•

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [24]:
# shape
pds.data().shape

(757, 2)

In [25]:
# ÎÇ¥Ïö© ÏùºÎ∂Ä ÌôïÏù∏
# head()
data = pds.data()
print(type(data)) # dataframeÏùò Íµ¨Ï°∞
data.head() # ÏÉÅÏúÑ 5Í∞ú

<class 'pandas.core.frame.DataFrame'>

      dataset_id                                        title
0  AirPassengers  Monthly Airline Passenger Numbers 1949-1960
1        BJsales            Sales Data with Leading Indicator
2            BOD                    Biochemical Oxygen Demand
3   Formaldehyde                Determination of Formaldehyde
4   HairEyeColor    Hair and Eye Color of Statistics Students

### Îç∞Ïù¥ÌÑ∞ Îã§Î£®Í∏∞
* index
* shape
* value_counts()
* etc...

In [26]:
# ÏõêÌïòÎäî Îç∞Ïù¥ÌÑ∞ Ï∞æÍ∏∞
data2 = data[data['dataset_id'] == 'mtcars']
print(type(data2))
data2 # ÌïúÍ∞úÎ•º Ï∞æÏùå

<class 'pandas.core.frame.DataFrame'>

   dataset_id                       title
47     mtcars  Motor Trend Car Road Tests

In [30]:
df = pds.data('mtcars')
df
# ÏïûÏÑ† pdsÏóêÏÑú dataset_id = 'mtcars' ÏïàÏóê Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [28]:
# shape() 32 X 11
df.shape

(32, 11)

In [33]:
# Ï†ÑÎ∞òÏ†Å Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB

In [34]:
# dfÏóê 'am'Ïù¥ÎùºÎäî columnsÏùò Í∞íÎì§ ÌôïÏù∏
df['am'].value_counts()

0    19
1    13
Name: am, dtype: int64

In [31]:
# ÏÉÅÏúÑ Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
df.head(3) # 3Í∞úÎßå Ï∂úÎ†•

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [35]:
# am = 0 Í≥º gear Í∞Ä 4Ïù∏ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df1 = df[(df['am'] == 0) & (df['gear'] == 4)]
# ÌôïÏù∏ Î∞è Í∞úÏàò ÌôïÏù∏
print(len(df1))
df1

4

            mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Merc 240D  24.4    4  146.7   62  3.69  3.19  20.0   1   0     4     2
Merc 230   22.8    4  140.8   95  3.92  3.15  22.9   1   0     4     2
Merc 280   19.2    6  167.6  123  3.92  3.44  18.3   1   0     4     4
Merc 280C  17.8    6  167.6  123  3.92  3.44  18.9   1   0     4     4

## Pandas

In [88]:
import pandas as pd

In [89]:
# ÌååÏùº ÏùΩÍ∏∞ 
# read_csv
Hr = pd.read_csv('HR-Employee-Attrition.csv')
Hr.info() # Ï†ïÎ≥¥ ÌôïÏù∏

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [90]:
Hr.head(3) # Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [99]:
Hr['EducationField'].value_counts()

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

In [ ]:
Hr['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

## ÏòÜÏÇ¨ÎûåÍ≥º Î¨∏Ï†ú ÎÇ¥Í∏∞
* genderÍ∞Ä femaleÏù¥Í≥† monthlyRateÍ∞Ä 10,000 Ïù¥ÏÉÅÏù∏ ÏÇ¨ÎûåÏùò Ïàò

In [92]:
# len ÌôúÏö© : Í∞úÏàò ÏÑ∏Í∏∞
len(Hr[(Hr['Gender'] == 'Female') & (Hr['MonthlyRate'] >= 10000)])

403

* EducationFieldÍ∞Ä MedicalÏù¥Í±∞ÎÇò JobSatisactionÏù¥ 3 Ïù¥ÏÉÅÏù∏ ÏÇ¨ÎûåÏùò Ïàò

In [97]:
len(Hr[(Hr['EducationField'] == 'Medical') | (Hr['JobSatisfaction'] >= 3)])

1083

### Pandas ÌôúÏö©

In [7]:
import pandas as pd
# ÏÑ†Ïñ∏
df = pd.DataFrame({'name' : ['ÍπÄÏßÄÌõà','Ïù¥Ïú†ÏßÑ','Î∞ïÎèôÌòÑ','ÍπÄÎØºÏßÄ'],
                   'english' : [90,80,60,70,],
                   'math' : [50,60,100,20]})
df # ÌôïÏù∏

  name  english  math
0  ÍπÄÏßÄÌõà       90    50
1  Ïù¥Ïú†ÏßÑ       80    60
2  Î∞ïÎèôÌòÑ       60   100
3  ÍπÄÎØºÏßÄ       70    20

#### Rename 
* Îç∞Ïù¥ÌÑ∞ Ïù¥Î¶Ñ Î∞îÍæ∏Í∏∞
* index
* columns
* rename({}, axis,) - index : axis = 0, - columns: axis =1

In [9]:
df = df.rename({'name' : 'Ïù¥Î¶Ñ'}, axis = 1)
df # name -> Ïù¥Î¶ÑÏúºÎ°ú Î≥ÄÍ≤ΩÎê®.

    Ïù¥Î¶Ñ  english  math
0  ÍπÄÏßÄÌõà       90    50
1  Ïù¥Ïú†ÏßÑ       80    60
2  Î∞ïÎèôÌòÑ       60   100
3  ÍπÄÎØºÏßÄ       70    20

In [15]:
id(df) # dfÏùò id ÌôïÏù∏

2959689019696

In [16]:
df2 = df
df2

    Ïù¥Î¶Ñ  english  math
0  ÍπÄÏßÄÌõà       90    50
1  Ïù¥Ïú†ÏßÑ       80    60
2  Î∞ïÎèôÌòÑ       60   100
3  ÍπÄÎØºÏßÄ       70    20

In [17]:
id(df2) # ÌòÑÏãúÏ†êÍπåÏßÄ idÍ∞Ä ÎèôÏùº

2959689019696

In [13]:
df2 = df2.rename({'Ïù¥Î¶Ñ' : 'name'}, axis=1)
df2

  name  english  math
0  ÍπÄÏßÄÌõà       90    50
1  Ïù¥Ïú†ÏßÑ       80    60
2  Î∞ïÎèôÌòÑ       60   100
3  ÍπÄÎØºÏßÄ       70    20

In [14]:
id(df2) # renameÏùÑ Í±∞ÏπòÎ©¥ÏÑú idÍ∞Ä Î≥ÄÍ≤ΩÎêúÎã§.

2959688992176

In [5]:
df # ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ Î≥ÄÍ≤Ω X

    Ïù¥Î¶Ñ  english  math
0  ÍπÄÏßÄÌõà       90    50
1  Ïù¥Ïú†ÏßÑ       80    60
2  Î∞ïÎèôÌòÑ       60   100
3  ÍπÄÎØºÏßÄ       70    20

In [27]:
# ÌïòÎÇòÏî© Í∞íÏùÑ Ï†ÑÎ∂Ä ÎÑ£Ïñ¥Ï§òÏÑú Î∞îÍøîÏ£ºÍ∏∞
df2['name'] = ['Ïù¥Ìò∏ÏßÑ1','Ïù¥Ìò∏ÏßÑ2', 'Ïù¥Ìò∏ÏßÑ3', 'Ïù¥Ìò∏ÏßÑ4']
df2

   name  english  math
0  Ïù¥Ìò∏ÏßÑ1       90    50
1  Ïù¥Ìò∏ÏßÑ2       80    60
2  Ïù¥Ìò∏ÏßÑ3       60   100
3  Ïù¥Ìò∏ÏßÑ4       70    20

In [28]:
df3 = df2
df3

   name  english  math
0  Ïù¥Ìò∏ÏßÑ1       90    50
1  Ïù¥Ìò∏ÏßÑ2       80    60
2  Ïù¥Ìò∏ÏßÑ3       60   100
3  Ïù¥Ìò∏ÏßÑ4       70    20

In [29]:
# Ìïú Í∫ºÎ≤àÏóê Î∞îÍøîÏ£ºÍ∏∞
df2['name'] = 'ÌôçÍ∏∏Îèô'
df2

  name  english  math
0  ÌôçÍ∏∏Îèô       90    50
1  ÌôçÍ∏∏Îèô       80    60
2  ÌôçÍ∏∏Îèô       60   100
3  ÌôçÍ∏∏Îèô       70    20

In [30]:
df3 # Í∞íÏù¥ Î≥ÄÍ≤Ω Îê®

  name  english  math
0  ÌôçÍ∏∏Îèô       90    50
1  ÌôçÍ∏∏Îèô       80    60
2  ÌôçÍ∏∏Îèô       60   100
3  ÌôçÍ∏∏Îèô       70    20

#### ÏñïÏùÄ Î≥µÏÇ¨ & ÍπäÏùÄ Î≥µÏÇ¨
* dfÎ≥ÄÏàòÎ™Ö
*  `df2 = df2`
    * ÏñïÏùÄ Î≥µÏÇ¨(shallow copy)'
    * ÏõêÎ≥∏Ïóê ÏòÅÌñ•Ïù¥ Îê®.
* `df3 = df.copy()`
    * ÍπäÏùÄ Î≥µÏÇ¨(deep copy)
    * ÏõêÎ≥∏Ïóê ÏòÅÌñ•Ïù¥ ÏïàÎê®.
    * Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä 2Í∞ú

In [31]:
# ÏúÑÏóêÏÑú ÏÑ†Ïñ∏Ìïú Îç∞Ïù¥ÌÑ∞Îì§Ïù¥ Îã§Î•¥Îã§Îäî Í≤ÉÏùÑ Ïïå Ïàò ÏûàÎã§.
print(id(df))
print(id(df2))
print(id(df3))

2252546931872
2252546792224
2252546792224

#### ÌååÏÉùÎ≥ÄÏàò
* Îç∞Ïù¥ÌÑ∞Ïóê Îì§Ïñ¥ÏûàÎäî Î≥ÄÏàòÎì§ÏùÑ Ï°∞Ìï© or Ìï®ÏàòÎ•º Ïù¥Ïö©Ìï¥ÏÑú ÏÉàÎ°úÏö¥ Î≥ÄÏàò ÏÉùÏÑ± Î∞è Î∂ÑÏÑù

In [36]:
df = pd.DataFrame({'var1':[3,4,8],
                   'var2':[2,6,1]})
df

   var1  var2
0     3     2
1     4     6
2     8     1

In [37]:
# ÏÉàÎ°úÏö¥ Î≥ÄÏàò ÏÑ†Ïñ∏
df['var_sum'] = df['var1'] + df['var2']
df

   var1  var2  var_sum
0     3     2        5
1     4     6       10
2     8     1        9

In [ ]:
df['var_mean'] = (df['var1'] + df['var2'])/2
df

### Data ÌôúÏö©

In [22]:
import pydataset as pds # ÏúÑÏóêÏÑú ÏÇ¨Ïö©Ìïú Ìå®ÌÇ§ÏßÄ Îã§Ïãú ÏÇ¨Ïö©

In [23]:
# show_doc = TrueÎäî Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏùò Ï†ïÎ≥¥Î•º ÏïåÎ†§Ï§å
mpg = pds.data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [24]:
# dataframe ÏÇ¨Ïö©
mpg = pds.data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [25]:
# ÌååÏÉùÎ≥ÄÏàò ÏÑ†Ïñ∏
# ÌÜµÌï© Ïó∞ÎπÑ Î≥ÄÏàò
mpg['total'] = (mpg['cty'] + mpg['hwy']) / 2 
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [26]:
# ÌèâÍ∑† Î∞è Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
print(mpg['total'].mean())
# 20  > pass
# 20 <= fail
print(len(mpg[mpg['total'] >=20]))

20.14957264957265
128

In [27]:
# Î≥ÄÍ≤ΩÎêú Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

### Apply(Ìï®Ïàò)
* `.apply()`
* Ïñ¥Îñ§ Ìï®ÏàòÎ•º series Îç∞Ïù¥ÌÑ∞Ïùò Î™®Îëê Îã§ Ï†ÅÏö©ÌïòÍ≥† Ïã∂ÏùÑ Îïå ÏÇ¨Ïö©
    * index ÌïòÎÇòÏùò Î™®Îì† Îç∞Ïù¥ÌÑ∞Î•º Î≥ÄÍ≤Ω or column ÌïòÎÇòÏùò Î™®Îì† Îç∞Ïù¥ÌÑ∞Î•º Î≥ÄÍ≤Ω
* ÏÇ¨Ïö©ÌïòÍ∏∞ ÏúÑÌï¥ÏÑú Î®ºÏ†Ä Ìï®ÏàòÎ•º ÏÑ†Ïñ∏Ìï¥ÏïºÌï®.

In [28]:
def isPass(t):
    if t>20:
        return 'Pass'
    else:
        return 'Fail'

In [32]:
#.apply(ÏÑ†Ïñ∏Ìïú Ìï®Ïàò)
mpg['total'].apply(isPass)

1      Pass
2      Pass
3      Pass
4      Pass
5      Pass
       ...
230    Pass
231    Pass
232    Pass
233    Pass
234    Pass
Name: total, Length: 234, dtype: object

In [33]:
# ÏÉàÎ°úÏö¥ ÌååÏÉùÎ≥ÄÏàò + Apply
mpg['test'] = mpg['total'].apply(isPass)

In [34]:
# Í≤∞Í≥º Í∞í ÌôïÏù∏
mpg['test'].value_counts()

Pass    123
Fail    111
Name: test, dtype: int64

## ÍµêÏû¨ 130p Î¨∏Ï†ú ÌíÄÍ∏∞
---

In [51]:
import pandas as pd # Ìå®ÌÇ§ÏßÄ Î∂àÎü¨Ïò§Í∏∞

In [52]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
people_df = pd.read_csv('midwest.csv')

In [53]:
# 1Î≤à
# info
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   437 non-null    int64
 1   county                437 non-null    object
 2   state                 437 non-null    object
 3   area                  437 non-null    float64
 4   poptotal              437 non-null    int64
 5   popdensity            437 non-null    float64
 6   popwhite              437 non-null    int64
 7   popblack              437 non-null    int64
 8   popamerindian         437 non-null    int64
 9   popasian              437 non-null    int64
 10  popother              437 non-null    int64
 11  percwhite             437 non-null    float64
 12  percblack             437 non-null    float64
 13  percamerindan         437 non-null    float64
 14  percasian             437 non-null    float64
 15  percother             437 non-null    float64
 16  popadults             437 non-null    int64
 17  perchsd               437 non-null    float64
 18  percollege            437 non-null    float64
 19  percprof              437 non-null    float64
 20  poppovertyknown       437 non-null    int64
 21  percpovertyknown      437 non-null    float64
 22  percbelowpoverty      437 non-null    float64
 23  percchildbelowpovert  437 non-null    float64
 24  percadultpoverty      437 non-null    float64
 25  percelderlypoverty    437 non-null    float64
 26  inmetro               437 non-null    int64
 27  category              437 non-null    object
dtypes: float64(15), int64(10), object(3)
memory usage: 95.7+ KB

In [54]:
# ÏùºÎ∂Ä ÌôïÏù∏
people_df.head()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR

In [55]:
# 2Î≤à
# ÎÇ¥Ïö© Î≥ÄÍ≤Ω (ÏÉàÎ°úÏö¥ columns Ï∂îÍ∞Ä Î∞è Í∏∞Ï°¥ columns Ï†úÍ±∞)
people_df['total'] = people_df['poptotal']
people_df.drop('poptotal',axis =1, inplace=True)
people_df['asian'] = people_df['popasian']
people_df.drop('popasian', axis =1, inplace=True)
# rename ÏÇ¨Ïö©ÎèÑ Í∞ÄÎä•.
# midwest.rename({'poptotal': 'total', 'popasian': 'asian'}, axis = 1, inplace = True)
# ÌôïÏù∏
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   437 non-null    int64
 1   county                437 non-null    object
 2   state                 437 non-null    object
 3   area                  437 non-null    float64
 4   popdensity            437 non-null    float64
 5   popwhite              437 non-null    int64
 6   popblack              437 non-null    int64
 7   popamerindian         437 non-null    int64
 8   popother              437 non-null    int64
 9   percwhite             437 non-null    float64
 10  percblack             437 non-null    float64
 11  percamerindan         437 non-null    float64
 12  percasian             437 non-null    float64
 13  percother             437 non-null    float64
 14  popadults             437 non-null    int64
 15  perchsd               437 non-null    float64
 16  percollege            437 non-null    float64
 17  percprof              437 non-null    float64
 18  poppovertyknown       437 non-null    int64
 19  percpovertyknown      437 non-null    float64
 20  percbelowpoverty      437 non-null    float64
 21  percchildbelowpovert  437 non-null    float64
 22  percadultpoverty      437 non-null    float64
 23  percelderlypoverty    437 non-null    float64
 24  inmetro               437 non-null    int64
 25  category              437 non-null    object
 26  total                 437 non-null    int64
 27  asian                 437 non-null    int64
dtypes: float64(15), int64(10), object(3)
memory usage: 95.7+ KB

In [56]:
# 3Î≤à
people_df['Asian_percent'] = people_df['asian'] / people_df['total'] * 100

In [57]:
# ÌôïÏù∏
people_df['Asian_percent'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0.376759
1      0.451722
2      0.106731
3      0.486918
4      0.085675
         ...
432    0.885746
433    0.199549
434    0.221821
435    1.231471
436    0.980912
Name: Asian_percent, Length: 437, dtype: float64>

In [58]:
# 4Î≤à
import numpy as np
asian_mean = people_df['Asian_percent'].mean()
# ÌôïÏù∏
asian_mean

0.48724618343573406

In [59]:
# Î∂ÑÎ•òÌï¥ÏÑú ÏÑ†Ïñ∏
asian_per = np.where(people_df['Asian_percent'] > asian_mean, 'large',
                             'small')
# Í∞í ÎåÄÏûÖ
people_df['Large & Small'] = asian_per
#

In [60]:
people_df['Large & Small'].value_counts()

small    318
large    119
Name: Large & Small, dtype: int64

In [65]:
# 4Î≤à applyÏÇ¨Ïö©
# Ìï®Ïàò ÏÑ†Ïñ∏
def isSize(percent, mean):
    if percent > mean:
        return 'large'
    return 'small'

In [71]:
# apply ÏÇ¨Ïö©
# mapÍ≥º ÎπÑÏä∑
# args ÏÇ¨Ïö© : Ïù∏ÏûêÎ•º ÎÑòÍ≤®Ï£ºÍ∏∞ ÏúÑÌï¥ÏÑú ÏÇ¨Ïö©(Ï°∞ÏÇ¨ ÌïÑÏöî)
people_df['l & s'] = people_df['Asian_percent'].apply(isSize, args=[people_df['Asian_percent'].mean()])

In [70]:
# ÌôïÏù∏
people_df['l & s'].value_counts()

small    318
large    119
Name: l & s, dtype: int64

## Ï±Ö 176 page
---

In [1]:
import pandas as pd

In [2]:
# data Î∂àÎü¨Ïò§Í∏∞
people = pd.read_csv('midwest.csv')
# data ÌôïÏù∏
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   437 non-null    int64
 1   county                437 non-null    object
 2   state                 437 non-null    object
 3   area                  437 non-null    float64
 4   poptotal              437 non-null    int64
 5   popdensity            437 non-null    float64
 6   popwhite              437 non-null    int64
 7   popblack              437 non-null    int64
 8   popamerindian         437 non-null    int64
 9   popasian              437 non-null    int64
 10  popother              437 non-null    int64
 11  percwhite             437 non-null    float64
 12  percblack             437 non-null    float64
 13  percamerindan         437 non-null    float64
 14  percasian             437 non-null    float64
 15  percother             437 non-null    float64
 16  popadults             437 non-null    int64
 17  perchsd               437 non-null    float64
 18  percollege            437 non-null    float64
 19  percprof              437 non-null    float64
 20  poppovertyknown       437 non-null    int64
 21  percpovertyknown      437 non-null    float64
 22  percbelowpoverty      437 non-null    float64
 23  percchildbelowpovert  437 non-null    float64
 24  percadultpoverty      437 non-null    float64
 25  percelderlypoverty    437 non-null    float64
 26  inmetro               437 non-null    int64
 27  category              437 non-null    object
dtypes: float64(15), int64(10), object(3)
memory usage: 95.7+ KB

In [3]:
# ÏùºÎ∂Ä ÌôïÏù∏
people.head()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR

In [4]:
# columns gÌôïÏù∏ 
people.columns

Index(['PID', 'county', 'state', 'area', 'poptotal', 'popdensity', 'popwhite',
       'popblack', 'popamerindian', 'popasian', 'popother', 'percwhite',
       'percblack', 'percamerindan', 'percasian', 'percother', 'popadults',
       'perchsd', 'percollege', 'percprof', 'poppovertyknown',
       'percpovertyknown', 'percbelowpoverty', 'percchildbelowpovert',
       'percadultpoverty', 'percelderlypoverty', 'inmetro', 'category'],
      dtype='object')

In [5]:
# ÎØ∏ÏÑ±ÎÖÑ Îç∞Ïù¥ÌÑ∞ Ï∂îÍ∞Ä
people['popchild'] = people['poptotal'] - people['popadults']
people['popchild']

0       22792
1        3902
2        5322
3       11534
4        1857
        ...
432    108878
433     15995
434      6069
435     51360
436     26809
Name: popchild, Length: 437, dtype: int64

In [6]:
# 1Î≤à
people['perchild'] = people['popchild'] / people['poptotal'] * 100
people['perchild']

0      34.486307
1      36.721250
2      35.501301
3      37.440758
4      31.819740
         ...
432    35.731093
433    34.693302
434    31.307712
435    36.602052
436    36.422797
Name: perchild, Length: 437, dtype: float64

In [84]:
# 2Î≤à
# sort_valeus Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨
hi_pc = people.sort_values('perchild',ascending=False)
hi_pc

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,popchild,perchild,child l & m & s,perasian
230,1233,ISABELLA,MI,0.034,54624,1606.588240,52212,635,1020,456,...,24.854633,21.269687,28.479147,13.966294,0,AHR,28132,51.501172,large,0.834798
404,3020,MENOMINEE,WI,0.021,3890,185.238095,416,0,3469,0,...,48.691099,64.308477,43.312464,18.218623,0,LHR,1968,50.591260,large,0.000000
281,2013,ATHENS,OH,0.030,59549,1984.966670,56163,1678,167,1374,...,28.673385,29.258116,31.744281,14.324955,0,AHR,29370,49.320727,large,2.307344
247,1250,MECOSTA,MI,0.034,37308,1097.294120,35739,978,258,187,...,25.068195,25.543614,28.229964,13.168572,0,AHR,18303,49.059183,large,0.501233
154,715,MONROE,IN,0.024,108978,4540.750000,102752,2835,216,2713,...,19.439019,14.346337,22.998998,9.575163,1,HHU,51610,47.358182,large,2.489493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,2981,ADAMS,WI,0.041,15682,382.487805,15001,375,125,56,...,14.435118,22.300831,13.310056,10.186757,0,LAR,4304,27.445479,small,0.357097
194,1197,ALCONA,MI,0.041,10145,247.439024,10026,27,56,26,...,17.250996,27.204503,16.617399,11.506936,0,AAR,2777,27.373090,small,0.256284
229,1232,IRON,MI,0.070,13175,188.214286,13028,4,102,32,...,17.119354,23.324119,14.456165,16.512236,0,AAR,3581,27.180266,small,0.242884
265,1268,ROSCOMMON,MI,0.034,19776,581.647059,19597,37,101,23,...,18.054280,26.037091,17.995797,13.074424,0,AHR,5341,27.007484,small,0.116303
235,1238,KEWEENAW,MI,0.020,1701,85.050000,1688,1,4,6,...,20.577830,21.884498,21.276596,19.024390,0,LHR,414,24.338624,small,0.352734

In [85]:
# ÏÉÅÏúÑ 5Í∞úÎßå Ï∂úÎ†•
# headÎèÑ Í∞ÄÎä•
print(hi_pc[['county','perchild']].head())
print(hi_pc[['county','perchild']].iloc[:5]) # slicing 
print('--------')
hi_pc.loc[:5,['county','perchild']]

        county   perchild
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182
        county   perchild
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182
--------

        county   perchild
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182
..         ...        ...
347       ROSS  34.327131
8         CASS  34.323138
65      MERCER  34.314633
217      EMMET  34.313099
5       BUREAU  34.308451

[316 rows x 2 columns]

In [11]:
# 3Î≤à
# numpy ÏÑ†Ïñ∏
import numpy as np
child = np.where(people['perchild'] >= 40, 'large',
        np.where(people['perchild'] >= 30, 'middle',
        'small'))
people['child l & m & s'] = child
# ÌôïÏù∏
people['child l & m & s'].value_counts()

middle    396
large      32
small       9
Name: child l & m & s, dtype: int64

In [44]:
# 4Î≤à
people['perasian'] = people['popasian'] / people['poptotal'] * 100
people['perasian']

low_per_asian = people['perasian'].sort_values().head(10)
low_per_asian.values[-1]

0.07074864934396707

In [49]:
# Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò 10Í∞ú Í∞í Í∞ÄÏ†∏Ïò§Í∏∞
low_t = people[people['perasian'] <= low_per_asian.values[-1]]
low_t

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,popchild,perchild,child l & m & s,perasian
73,634,PIATT,IL,0.025,15548,621.920000,15508,8,16,11,...,6.131244,7.067669,4.612260,9.167794,0,HLR,5090,32.737330,middle,0.070749
85,646,SCOTT,IL,0.015,5644,376.266667,5634,1,6,3,...,11.527429,14.256480,9.370678,13.360656,0,AAR,1912,33.876683,middle,0.053154
105,666,BENTON,IN,0.024,9441,393.375000,9389,6,16,1,...,8.043011,8.349218,6.842329,10.502283,0,AAR,3388,35.886029,middle,0.010592
109,670,CARROLL,IN,0.022,18809,854.954545,18720,19,22,3,...,7.492702,9.383269,5.639806,10.183066,0,AAR,6568,34.919453,middle,0.015950
112,673,CLAY,IN,0.021,24705,1176.428570,24522,113,41,15,...,11.843240,15.163681,9.705005,12.966218,1,AAU,8508,34.438373,middle,0.060716
261,1264,OSCODA,MI,0.033,7842,237.636364,7781,2,41,5,...,17.802540,24.350649,17.000267,13.518606,0,LHR,2409,30.719204,middle,0.063759
340,2072,PERRY,OH,0.023,31557,1372.043480,31408,57,46,21,...,19.065749,25.388998,16.378296,16.721822,0,AHR,12146,38.489083,middle,0.066546
358,2090,VINTON,OH,0.024,11098,462.416667,11071,4,16,3,...,23.607936,31.770833,22.225975,14.917696,0,LHR,4135,37.258966,middle,0.027032
390,3006,IRON,WI,0.047,6153,130.914894,6121,1,25,2,...,13.070918,15.646785,12.179042,12.662338,0,AAR,1706,27.726312,small,0.032504
404,3020,MENOMINEE,WI,0.021,3890,185.238095,416,0,3469,0,...,48.691099,64.308477,43.312464,18.218623,0,LHR,1968,50.591260,large,0.000000

In [98]:
# state, country, Î∞±Î∂ÑÏú® Ï∂úÎ†•
low_t[['county','state','perasian']]
# Í∞ôÏùÄ Î∞©Î≤ï
# low_t.loc[:,['county','state','perasian']]

        county state  perasian
73       PIATT    IL  0.070749
85       SCOTT    IL  0.053154
105     BENTON    IN  0.010592
109    CARROLL    IN  0.015950
112       CLAY    IN  0.060716
261     OSCODA    MI  0.063759
340      PERRY    OH  0.066546
358     VINTON    OH  0.027032
390       IRON    WI  0.032504
404  MENOMINEE    WI  0.000000

In [91]:
# ÏúÑÏóêÏÑú stateÍ∞Ä Í≤πÏπòÎØÄÎ°ú Ïù¥Ïóê ÎåÄÌï¥ÏÑú Î∂ÑÎ•òÌïúÎã§.
# stateÎ•º Í∏∞Ï§ÄÏúºÎ°ú Î∂ÑÎ•ò -> Í∑∏ Ï§ë perasianÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÍ≥† -> ÌÅ¨Í∏∞ÎåÄÎ°ú Ï†ïÎ†¨
people.groupby('state')['perasian'].mean().sort_values()

state
IN    0.382658
OH    0.432803
MI    0.506877
WI    0.556213
IL    0.563895
Name: perasian, dtype: float64

## ÏúÑÏùò Îç∞Ïù¥ÌÑ∞Î•º Í∏∞Î∞òÏúºÎ°ú ÌôúÏö© Ìï¥Î≥¥Í∏∞

In [99]:
# Îç∞Ïù¥ÌÑ∞ ÌïòÎÇòÎßå Î∞îÍøîÎ≥¥Í∏∞
people

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,popchild,perchild,child l & m & s,perasian
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,13.151443,18.011717,11.009776,12.443812,0,AAR,22792,34.486307,middle,0.376759
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,32.244278,45.826514,27.385647,25.228976,0,LHR,3902,36.721250,middle,0.451722
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,12.068844,14.036061,10.852090,12.697410,0,AAR,5322,35.501301,middle,0.106731
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,7.209019,11.179536,5.536013,6.217047,1,ALU,11534,37.440758,middle,0.486918
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,13.520249,13.022889,11.143211,19.200000,0,AAR,1857,31.819740,middle,0.085675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,3.121060,3.785820,2.590061,4.085479,1,HLU,108878,35.731093,middle,0.885746
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,8.488697,10.071411,6.953799,10.338641,0,AAR,15995,34.693302,middle,0.199549
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,13.786985,20.050708,11.695784,11.804558,0,AAR,6069,31.307712,middle,0.221821
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,8.804031,10.592031,8.660587,6.661094,1,HAU,51360,36.602052,middle,1.231471
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,8.525831,11.162997,7.375656,7.882918,0,AAR,26809,36.422797,middle,0.980912

In [101]:
people.loc[0, 'county'] = 'Hojin'
people

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,popchild,perchild,child l & m & s,perasian
0,561,Hojin,IL,0.052,66090,1270.961540,63917,1702,98,249,...,13.151443,18.011717,11.009776,12.443812,0,AAR,22792,34.486307,middle,0.376759
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,32.244278,45.826514,27.385647,25.228976,0,LHR,3902,36.721250,middle,0.451722
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,12.068844,14.036061,10.852090,12.697410,0,AAR,5322,35.501301,middle,0.106731
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,7.209019,11.179536,5.536013,6.217047,1,ALU,11534,37.440758,middle,0.486918
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,13.520249,13.022889,11.143211,19.200000,0,AAR,1857,31.819740,middle,0.085675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,3.121060,3.785820,2.590061,4.085479,1,HLU,108878,35.731093,middle,0.885746
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,8.488697,10.071411,6.953799,10.338641,0,AAR,15995,34.693302,middle,0.199549
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,13.786985,20.050708,11.695784,11.804558,0,AAR,6069,31.307712,middle,0.221821
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,8.804031,10.592031,8.660587,6.661094,1,HAU,51360,36.602052,middle,1.231471
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,8.525831,11.162997,7.375656,7.882918,0,AAR,26809,36.422797,middle,0.980912

## ÏàòÏóÖÎÇ¥Ïö© Ï†ïÎ¶¨
* apply ÏÇ¨Ïö© ÏûòÌïòÍ∏∞
* unique
* value_counts
* numpyÏùò np.where Ï†àÎïå ÏûäÏßÄÎßêÍ∏∞